<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/bitmoji.ico" type="image/png" />

    <link rel="stylesheet" href="/main.css" />
    <link
      rel="preload"
      href="/one-dark.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="/furo-purge.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- <link rel="preload" href="/scroll.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
    <noscript>
      <!-- <link rel='stylesheet' href='/scroll.css' /> -->
      <link rel="stylesheet" href="/one-dark.min.css" />
      <link rel="stylesheet" href="/furo-purge.min.css" />
    </noscript>

    <title>{{ title }}</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archive/">Archive</a></li>
        <li>
          <a href="/rss.xml" aria-label="RSS">
            <svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              height="16"
              width="16"
            >
              <path
                fill="currentColor"
                d="M 4 4.44 v 2.83 c 7.03 0 12.73 5.7 12.73 12.73 h 2.83 c 0 -8.59 -6.97 -15.56 -15.56 -15.56 Z m 0 5.66 v 2.83 c 3.9 0 7.07 3.17 7.07 7.07 h 2.83 c 0 -5.47 -4.43 -9.9 -9.9 -9.9 Z M 6.18 15.64 A 2.18 2.18 0 0 1 6.18 20 A 2.18 2.18 0 0 1 6.18 15.64"
              ></path>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <article class="blog-post h-entry">
      <!-- <div id='cover-wrapper'>
      <img src='/{{ slug }}.webp' alt='cover image for article' />
    </div> -->
      <div id="title-wrapper">
        <a
          class="u-url"
          href="https://nicpayne713.github.io/small-group-notes/"
        >
          <h1
            class="flair"
            id="title"
            style="text-align: right; z-index: 2; padding-right: 0.2rem"
            class="blog title no-link"
          >
            {{ title }}
          </h1>
        </a>
        <p>
          <time
            class="dt-published post-date"
            datetime="{{ date }}"
            style="text-align: right; z-index: 2"
            >{{ date }}</time
          >
        </p>
      </div>

      <!-- <h2 class='toc'>toc</h2> -->
      <!-- {{toc}} -->
      <div id="post-body">{{ body }}</div>
      <hr />
      <div id="show"></div>
    </article>
    <footer>
      <p>© {{ date.year }} - {{ today.year }}</p>
    </footer>
  </body>
</html>
