<section class="post-terminal  post-terminal--til ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Paperless-NGX filtering on IDs instead of values</h1>
    <div class="post-header__meta">
        <time datetime="2022-08-09">
            August 09, 2022
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/homelab/" class="post-header__tag">
                #homelab
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
            <a href="https://pype.dev//tags/til/" class="post-header__tag">
                #til
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>To filter for saved views from the admin console you have to use the <code>id</code> of
the tag you are using to filter on...</p>
<p>Ex: filtering for tags &quot;Inbox&quot; doesn't work, but for tag 18 does (the id fo the
Inbox tag). I can find that ID by clicking on the tag and looking at the url
bar</p>

        </section>
    </article>
</section>