<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>

<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-ecclesiastes-9-10">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-11-26">2025-11-26</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Ecclesiastes 9:10</h2>
                    <p class="feed-card__description">!!! note &quot;Ecclesiastes 9:10&quot; !!! warning &quot;Reflection vs Hermeneutics&quot; Finding **Whatever your hand finds to do**... The beginning assumes a </p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-psalm-93">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-11-19">2025-11-19</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Psalm 93</h2>
                    <p class="feed-card__description">Yahweh is king !!! note &quot;Psalm 93&quot; Observations Yahweh is king; **he clothes himself** with majesty. **Yahweh clothes
himself**; he girds himself with</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/by-gods-grace">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-11-18">2025-11-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">By God's Grace</h2>
                    <p class="feed-card__description">!!! note &quot;Style&quot; ![You can listen now!](https://dropper.wayl.one/file/a014f1f5-0ea6-46b7-94cd-c2c6f02ad9a6.mp3) Okay, so I had this thought about, hon</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-go-forward-only-thing-to-do">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-11-05">2025-11-05</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Go Forward - Only Thing To Do</h2>
                    <p class="feed-card__description">Reflection Today I am thinking about the blessings in my life... In my opinion, I have a
lot going for me - God has been so utterly good to me that finding faul</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-psalm-9-1">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-30">2025-10-30</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Psalm 9:1</h2>
                    <p class="feed-card__description">!!! note &quot;Psalm 9:1&quot; Praise God The phrase &quot;praise God&quot; has become a common phrase in my life. I&#x27;m blessed to
have my best friend, Mich</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-mark-4-1-20">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-21">2025-10-21</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Mark 4:1-20</h2>
                    <p class="feed-card__description">The Soils I am in the middle of reprocessing the soils&#x27; parable - I heard a very
interesting interpretation the other day that I&#x27;m following up on. BU</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-john-21-12">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-17">2025-10-17</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - John 21:12</h2>
                    <p class="feed-card__description">!!! note &quot;John 21:12&quot; Come and eat Jesus offers this communion with himself every day, and to very believer...
Sharing a meal with someone is a pretty</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-philippians-3-8">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-14">2025-10-14</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Philippians 3:8</h2>
                    <p class="feed-card__description">!!! note &quot;Philippians 3:8&quot; Loss Paul&#x27;s words are convicting this morning... **I even consider all things to be loss**. !!! danger &quot;&quot; Do</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-psalm-119-15">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-12">2025-10-12</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Psalm 119:15</h2>
                    <p class="feed-card__description">!!! note &quot;Psalm 119:15&quot; Meditate Spurgeon had a good thought here... It is not the act of eating that actually
nourishes our bodies, it is digestion..</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-jude-24">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-10">2025-10-10</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Jude 24</h2>
                    <p class="feed-card__description">!!! note &quot;Jude 24-25&quot; make you to stand before his glory blameless with exultation The ultimate hope of the one called to Jesus - to be made blameless</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-numbers-11-11">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-07">2025-10-07</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Numbers 11:11</h2>
                    <p class="feed-card__description">As if the Lord orchestrated Spurgeon&#x27;s meditation to give me a spring board to what I need for the third day in a row... [[reflection-1-kings-19-8]] He sho</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-john-4-14">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-06">2025-10-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - John 4:14</h2>
                    <p class="feed-card__description">Today Spurgeon&#x27;s &quot;Morning and Evening&quot; was on John 4:14 !!! note &quot;John 4:14&quot; Being autistic and growing up in the Church led to a few a</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-1-kings-19-8">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-05">2025-10-05</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - 1 Kings 19:8</h2>
                    <p class="feed-card__description">Spurgeon picked 1 Kings 19:8 this morning and his meditation was encouraging at
a meta-level. Highlighting to me that we (Christians) in maturity can be
refresh</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-psalm-84-11">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-01">2025-10-01</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Psalm 84:11</h2>
                    <p class="feed-card__description">Spurgeon&#x27;s Morning and Evening today (actually the evening one) is for [Psalm 84:11](https://www.biblegateway.com/passage/?search=Psalm+84%3A11&amp;version</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-deuteronomy-33-29">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-09-27">2025-09-27</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Deuteronomy 33:29</h2>
                    <p class="feed-card__description">Note reflections are not theological study Spurgeon&#x27;s Morning and Evening today starts with: !!! note &quot;Deuteronomy 33:29&quot; What is it to be saved </p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-romans-3-26">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-09-24">2025-09-24</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Romans 3:26</h2>
                    <p class="feed-card__description">From Morning and Evening today, Spurgeon has thoughts on Romans 3:26. I need
more context personally, so here&#x27;s a newer translation of 3:25-26 !!! note &qu</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-galatians-5-1">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-09-19">2025-09-19</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Galatians 5:1</h2>
                    <p class="feed-card__description">Spurgeon&#x27;s &quot;Morning and Evening&quot; today is about the freedom we have in Christ.
Freedom is a core concept of Christianity, and one no doubt bastar</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-galatians-5-24-25">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-09-18">2025-09-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Galatians 5:24-25</h2>
                    <p class="feed-card__description">!!! note &quot;Galatians 5:24-25&quot; Spurgeon&#x27;s &quot;Morning and Evening&quot; is a mediation on living in and following the Spirit. He says this: You w</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-on-philippians-2-14-18">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-09-06">2025-09-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection on Philippians 2:14-18</h2>
                    <p class="feed-card__description">!!! note &quot;Philippians 2:15-18&quot; &quot;Do all things without grumbling and disputing&quot;... now, taking verses out of
context is one of my biggest pet</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-morning-august-31-2025">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-08-31">2025-08-31</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Reflection - Morning August 31 2025</h2>
                    <p class="feed-card__description">Morning, August 31 “On mine arm shall they trust.&quot;
—Isaiah 51:5 !!! note &quot;Spurgeon: Morning and Evening&quot; Reflection By God&#x27;s grace, I was le</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-ai-work-and-adhd">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-08-27">2025-08-27</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // adhd</p>
                <h2 class="feed-card__title">Reflection - AI Work and ADHD</h2>
                    <p class="feed-card__description">Reflection It&#x27;s time to be more devoted to my work... AI has been a cool technology to
watch and experience but one thing I&#x27;m allowing it to do to me </p>
                <div class="feed-card__tags">
                        <span>#adhd</span>
                        <span>#tech</span>
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/thoughts-on-august-21-2025">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-08-21">2025-08-21</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Thoughts On August 21 2025</h2>
                    <p class="feed-card__description">Intro Been struggling more with work - what matters? I can&#x27;t help but feel like
nothing... As a Christian I want to do my work &quot;for an audience of 1&q</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/knowledge-and-faith">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-07-31">2025-07-31</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Knowledge and Faith</h2>
                    <p class="feed-card__description">A Question What does it mean to be &quot;faithful&quot;? I wrestle with this question in various
contexts pretty regularly - mostly because God has been so ridi</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/what-is-a-right">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-07-28">2025-07-28</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">What Is A Right?</h2>
                    <p class="feed-card__description">Intro I saw something this morning that kind of irk&#x27;d me so I thought I&#x27;d write some
thoughts on it... It was one of those maps of countries and the r</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/god-provides-when-he-takes-away">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-07-25">2025-07-25</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">God Provides When He Takes Away</h2>
                    <p class="feed-card__description">This post is meant to serve as a reminder that God&#x27;s provision is about more
than the chronology of things happening... For example he brought me a job whe</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  feed-card--thoughts" data-template="thoughts">
    <a class="feed-card__link" href="/thoughts-720">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">thoughts</span>
            <time datetime="2025-06-25">2025-06-25</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">{'username': 'Nic', 'full_name': 'Nicholas Payne', 'email': 'thoughts.confusion898@aleeas.com', 'disabled': False} // reflection</p>
                <h2 class="feed-card__title">💭 Genesis 1 and Its ANE Polemic, Part 2 - Dr. Michael Heiser</h2>
                    <p class="feed-card__description">I'm preparing for a conversation on Genesis 1 this morning, and so I of course wanted to read through a few of Mike's ol</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#heiser</span>
                        <span>#ane</span>
                        <span>#genesis</span>
                        <span>#todo</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/what-are-the-rewards-in-heaven">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-20">2025-06-20</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">What Are The Rewards In Heaven?</h2>
                    <p class="feed-card__description">Intro I came across an article on the Bible Project on what it means to &quot;store up
treasures in Heaven&quot; and it brought some clarity to the meaning of t</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  feed-card--thoughts" data-template="thoughts">
    <a class="feed-card__link" href="/thoughts-709">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">thoughts</span>
            <time datetime="2025-06-20">2025-06-20</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">{'username': 'Nic', 'full_name': 'Nicholas Payne', 'email': 'thoughts.confusion898@aleeas.com', 'disabled': False} // homelab</p>
                <h2 class="feed-card__title">💭 pypeaday/whose-turn-is-it: Simple uv webapp to determine order...</h2>
                    <p class="feed-card__description">We pray together as a family every night, but every single flipping night my daughter's fight about the order we go in..</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#tech</span>
                        <span>#reflection</span>
                        <span>#thoughts</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflecting-on-bp-article-on-james-faith-and-works">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-18">2025-06-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Reflecting on BP Article on James - Faith and Works</h2>
                    <p class="feed-card__description">Intro This started as one of [[my-thoughts]] and got long enough to warrant putting right in the blog Faith and works is a common point of conversation for Chri</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/father-s-day-2025">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-15">2025-06-15</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Father's Day 2025</h2>
                    <p class="feed-card__description">Intro I just wanted to capture some thoughts on Father&#x27;s
Day and how becoming a dad and raising two beautiful kids has affected my view
on, or matured my v</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#fathers-day</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/i-love-an-expert-in-their-craft">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-06">2025-06-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">I love an expert in their craft</h2>
                    <p class="feed-card__description">Presence of an Expert Our AC died, or has been showing signs of dying recently, and regardless of the
finality of its death, our house hasn&#x27;t been getting </p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/autism-adhd-and-the-doshas">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-05">2025-06-05</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">Autism ADHD and the Doshas</h2>
                    <p class="feed-card__description">Introduction I was recently diagnosed with Autism Spectrum Disorder Level 1 and ADHD, the inattentive
type. I suppose, AuDHD for short.
There are many reasons w</p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#health</span>
                        <span>#mental-health</span>
                        <span>#autism</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/i-hate-corporate-america">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-05-27">2025-05-27</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // reflection</p>
                <h2 class="feed-card__title">I Hate Corporate America</h2>
                    <p class="feed-card__description">Rant The longer I&#x27;m in corporate America - and the longer I homelab and listen to
podcasts - a cliché truth becomes more and more apparent to me, which
is </p>
                <div class="feed-card__tags">
                        <span>#reflection</span>
                        <span>#rant</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/a-new-perspective-on-being-god-s-child">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-05-18">2025-05-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // faith</p>
                <h2 class="feed-card__title">A New Perspective on Being God's Child</h2>
                    <p class="feed-card__description">Intro I was in men&#x27;s group the other day, and one of the things that came up almost inevitably
is a debate between God&#x27;s sovereignty and predestinatio</p>
                <div class="feed-card__tags">
                        <span>#faith</span>
                        <span>#reflection</span>
                        <span>#free-will</span>
                        <span>#sovereignty</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-wisdom-in-relationships">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-10-12">2024-10-12</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Reflection - Wisdom in Relationships</h2>
                    <p class="feed-card__description">This morning I finally felt some motivation for a short Bible Project video.
The app is great (💯 would recommend) and gives me daily reminders that are
unobtrus</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>        </ul>
    </div>
</article>