<section class="post-terminal   ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Nextcloud Docker Upgrade Error</h1>
    <div class="post-header__meta">
        <time datetime="2022-12-28">
            December 28, 2022
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/homelab/" class="post-header__tag">
                #homelab
            </a>
            <a href="https://pype.dev//tags/linux/" class="post-header__tag">
                #linux
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p><a href="https://nicolasbouliane.com/blog/nextcloud-docker-upgrade-error">https://nicolasbouliane.com/blog/nextcloud-docker-upgrade-error</a></p>

        </section>
    </article>
</section>