<section class="post-terminal  post-terminal--til ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Don't forget to load XMP!</h1>
    <div class="post-header__meta">
        <time datetime="2022-10-09">
            October 09, 2022
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/homelab/" class="post-header__tag">
                #homelab
            </a>
            <a href="https://pype.dev//tags/linux/" class="post-header__tag">
                #linux
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
            <a href="https://pype.dev//tags/til/" class="post-header__tag">
                #til
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>Bought some DDR4-3600 speed RAM but only seeing 2666? Load up the BIOS, find DRAM config or something similar, and make sure to load the XMP profile to get that advertised RAM speed!</p>

        </section>
    </article>
</section>