<article class='w-full'>
<section class="title">
    <h1 id="title">
        Adblock-Coverage
    </h1>
</section>    <section class="body">
        <p>I run pi-hole at home for ad blocking and some internal DNS/DHCP handling.</p>
<p><strong>pi hole posts on the way</strong></p>
<p>One thing I've never put too much thought in is asking &quot;how well am I doing at blocking?&quot;
There's lots of ways to measure that depending on what you care about but I just learned of <a href="https://d3ward.github.io/toolz/adblock">adblock tester</a>.
It's awesome and gave me a quick glimpse into how my pi-hole is performing on keeping my webpages clean and my DNS history private!</p>
<p>Credits to <a href="https://github.com/d3ward/toolz">d3ward</a> for the awesome tool!</p>

    </section>
</article>