<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>
<li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/i-was-wrecked-by-a-weird-combo-of-and-e/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            I was wrecked by a weird combo of >> and -e
        </h2>
        <p class='mx-4 text-neutral-200'>
            TL;DR If state matters then check it in the beginning or handle it on a failure... Let me explain I ran into some trouble recently _almost_ losing some encrypte
        </p>
        <time class='mx-4 text-neutral-600'>
            2025-04-23
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/smb-with-zfs-on-ubuntu/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            SMB with ZFS on Ubuntu
        </h2>
        <p class='mx-4 text-neutral-200'>
            sudo apt-get install -y samba \\ then set sharesmb=on \\ chown the user \\ smbpasswd &lt;user&gt; -a \\ then mount with user/password from other machine
        </p>
        <time class='mx-4 text-neutral-600'>
            2025-02-20
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/jellyfin-container-updates-for-hwe-amd/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Jellyfin container updates for HWE + AMD
        </h2>
        <p class='mx-4 text-neutral-200'>
            I use LSIO Jelyfin container for the easy addon they provide for AMD GPUs but I couldn&#x27;t get trickplay to work with HWE... There was almost NOTHING on the 
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-12-14
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/rsync-like-a-pro/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            rsync like a pro
        </h2>
        <p class='mx-4 text-neutral-200'>
            I am moving a hefty amount of data to a new ZFS pool due to some corruption and I want to avoid using `zfs send/recv` for this just to make sure I don&#x27;t pr
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-12-11
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/d-and-uninterruptable-sleep/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            D and uninterruptable sleep
        </h2>
        <p class='mx-4 text-neutral-200'>
            Htop I recently have been having significant home server issues, and that&#x27;s not the point of this - today I learned what `D` state is when looking at htop.
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-12-11
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/hostnamectl-to-easily-change-hostname/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            hostnamectl to easily change hostname
        </h2>
        <p class='mx-4 text-neutral-200'>
            hostnamectl is apparently a linux utility for easily changing your hostname in a variety of ways I learned there&#x27;s transient and static hostnames, so that&
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-12-06
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/dns-broke-after-reboot-ubuntu-22-04/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            DNS Broke After Reboot - Ubuntu 22.04
        </h2>
        <p class='mx-4 text-neutral-200'>
            I rebooted by server and DNS broke randomly. I have no idea if it was from a kernel update or what but that&#x27;s the issue with Ubuntu I guess... After much t
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-11-22
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/restart-kde-plasma/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Restart KDE Plasma
        </h2>
        <p class='mx-4 text-neutral-200'>
            Plasma shits the bed a little too often on Fedora for me right now but I finally have a quick fix...
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-11-08
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/docker-copy-and-chown/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Docker copy and chown
        </h2>
        <p class='mx-4 text-neutral-200'>
            COPY --chown=myuser:mygroup source-file target-file
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-09-17
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/docker-remote-add/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            docker-remote-add
        </h2>
        <p class='mx-4 text-neutral-200'>
            Add from url?? ADD http://example.com/cars.csv /tmp/cars.csv Unpack automatically!? (.tar, .tar.gz, .tgz, .bz2, .tbz2, .txz, .zip) ADD myapp.tar.gz /opt/myapp/
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-09-17
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/interesting-ips-between-jellyfin-clients-and-server-depending-on-tailscale-and-server-address/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Interesting IPs between Jellyfin clients and server depending on tailscale and server address
        </h2>
        <p class='mx-4 text-neutral-200'>
            When connecting from my phone to jellyfin I&#x27;m seeing some interesting patterns. Scenarios Tailscale IP of phone is listed as local network to jellyfin Wifi
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-07-12
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/upgrading-your-kernel-can-f-you-up-whoops/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Upgrading your kernel can F you up... whoops
        </h2>
        <p class='mx-4 text-neutral-200'>
            https://forum.proxmox.com/threads/update-error-with-coral-tpu-drivers.136888/#post-608975 I lost TPU for frigate, this saved me ass
        </p>
        <time class='mx-4 text-neutral-600'>
            2024-06-26
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/dhcp-restart-to-save-ubuntu-22-04-server-networking/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            DHCP Restart to Save Ubuntu 22.04 Server Networking
        </h2>
        <p class='mx-4 text-neutral-200'>
            I moved a computer to a remote location for an off-site backup but when it was powered on it wouldn&#x27;t show up on any networks. A solution that got me back 
        </p>
        <time class='mx-4 text-neutral-600'>
            2023-12-31
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/refresh-nextcloud-groupfolders-after-messing-around-on-the-filesystem/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Refresh Nextcloud Groupfolders after messing around on the filesystem
        </h2>
        <p class='mx-4 text-neutral-200'>
            Exec in as www-data and run ./occ groupfolders:scan folder_id -v (the -v to see what it&#x27;s doing)
        </p>
        <time class='mx-4 text-neutral-600'>
            2023-09-23
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/convert-word-doc-to-pdf-with-headless-libreoffice/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Convert Word Doc to PDF with Headless Libreoffice
        </h2>
        <p class='mx-4 text-neutral-200'>
            I&#x27;ve been using paperless-ngx to manage all my documents, but every once in a while I&#x27;ll get a `.docx` file to deal with... Turns out Libreoffice has 
        </p>
        <time class='mx-4 text-neutral-600'>
            2023-03-09
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/i3-like-keyboard-mapping-in-pop-os/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            i3-Like keyboard mapping in Pop_OS
        </h2>
        <p class='mx-4 text-neutral-200'>
            I was introduced to tiling window managers through i3, which I use heavily on
one of my machines. I have switched to Pop_OS! at home though, which has a
tiling 
        </p>
        <time class='mx-4 text-neutral-600'>
            2023-01-12
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/use-non-standard-named-ssh-keys-with-github/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Use non-standard named ssh keys with github
        </h2>
        <p class='mx-4 text-neutral-200'>
            I was getting `(publickey denied)` when trying to push to GH using ssh. When I
tested the connection I saw that a bunch of keys in ``~/.ssh/ were being
attempte
        </p>
        <time class='mx-4 text-neutral-600'>
            2023-01-03
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/nextcloud-docker-upgrade-error/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Nextcloud Docker Upgrade Error
        </h2>
        <p class='mx-4 text-neutral-200'>
            https://nicolasbouliane.com/blog/nextcloud-docker-upgrade-error
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-12-28
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/reminder-about-ssh-copy-id-for-ssh-and-ansible/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Reminder about ssh-copy-id for SSH and Ansible
        </h2>
        <p class='mx-4 text-neutral-200'>
            `ssh-copy-id -i my.key.pub &lt;hostname probably from tailscale&gt;` 
this makes sure I can run ansible from my desktop against VMs on my server
easily if they 
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-12-28
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/adding-docker-daemon-json-broke-docker/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Adding docker daemon.json broke docker
        </h2>
        <p class='mx-4 text-neutral-200'>
            in /lib/systemd/system/docker.service there is an ExecStart command that got placed there when I setup Docker with Ansible - it threw the -H flag which told the
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-12-21
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/suda-vim-for-sudo-access-to-files/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            suda.vim for sudo access to files
        </h2>
        <p class='mx-4 text-neutral-200'>
            I regularly need to edit system config files - take /etc/sanoid/sanoid.conf as
an example... I&#x27;ll want to play with something but if I don&#x27;t start Neo
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-12-21
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/pipe-to-a-pager-to-preserve-console-output-in-ssh-session/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Pipe to a pager to preserve console output in SSH session
        </h2>
        <p class='mx-4 text-neutral-200'>
            I&#x27;m playing with my ansible playbook in a remote tmux session, and I&#x27;m no wiz
so I don&#x27;t know the ins and outs, but I can&#x27;t scroll up to get
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-12-18
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/description-of-my-proposed-vimconf-2022-talk/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Description of my proposed vimconf 2022 talk
        </h2>
        <p class='mx-4 text-neutral-200'>
            Switching to Vim opened a whole new world to me for interacting with a computer
and for getting things done. Before I adopted Vim I used GUIs for everything
bec
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-11-12
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/make-a-series-of-directories-fast/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Make a series of directories fast!
        </h2>
        <p class='mx-4 text-neutral-200'>
            mkdir s{1..10} will make directories s1, s2, ... s10 in one command!
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-11-10
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/dont-forget-to-load-xmp/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Don't forget to load XMP!
        </h2>
        <p class='mx-4 text-neutral-200'>
            Bought some DDR4-3600 speed RAM but only seeing 2666? Load up the BIOS, find DRAM config or something similar, and make sure to load the XMP profile to get that
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-10-09
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/my-passmark-scores/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            My PassMark Scores
        </h2>
        <p class='mx-4 text-neutral-200'>
            !!! note &quot;Babyblue v2&quot; !!! note &quot;Venus &quot; !!! note &quot;Hogwarts&quot; !!! note &quot;Server 2 ... Change the name&quot; !!! note &quot;Serv
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-10-08
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/suddenly-ssh-requires-a-password/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Suddenly SSH requires a password
        </h2>
        <p class='mx-4 text-neutral-200'>
            ssh -v -i ~/.ssh/id_rsa nic@hogwarts THen we can look at print outs cat /var/log/auth.log  also showed me that I had too wide permissions on files in ~/.ssh -&g
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-10-07
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/check-your-bios-version-on-ubuntu/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Check Your BIOS Version On Ubuntu
        </h2>
        <p class='mx-4 text-neutral-200'>
            sudo dmidecode -s bios-version
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-10-02
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/append-string-to-list-of-files-with-xarg/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Append string to list of files with xarg
        </h2>
        <p class='mx-4 text-neutral-200'>
            ❯ find . -name &quot;requirements.in&quot; -print0 | xargs -0 sh -c &#x27;for arg in &quot;$@&quot;; do echo &quot;awscli&quot; &gt;&gt;&quot;$arg&quot;; done&#
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-09-21
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/check-your-smart-status-with-smartctl/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Check your SMART status with smartctl
        </h2>
        <p class='mx-4 text-neutral-200'>
            https://www.simplified.guide/linux/disk-health-check Install For ubuntu/debian based distros (which is what I primarly use presently) `sudo apt update -y &amp;&
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-08-29
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/mounting-exfat-usb-in-linux/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Mounting exFAT USB in Linux
        </h2>
        <p class='mx-4 text-neutral-200'>
            Steps `sudo fdisk -l` then look for the device and partition get the Type column mount Example
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-07-31
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/setup-kvm-to-boot-from-local-pxe-server/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Setup KVM to boot from local PXE server
        </h2>
        <p class='mx-4 text-neutral-200'>
            Assuming you have a PXE server running you only need small edits to the virt-manager config
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-07-06
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/kvm-network-interface-via-nat-ubuntu-20/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            kvm-network-interface-via-nat-ubuntu-20
        </h2>
        <p class='mx-4 text-neutral-200'>
            I have started using VMs more and more in my development workflow and it&#x27;s
impossible to work in a VM without an internet connection for me most of the
tim
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-06-25
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/cheat-on-your-man/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            cheat on your man
        </h2>
        <p class='mx-4 text-neutral-200'>
            `man` can be a pain to read... and there&#x27;s lots of alternatives out there and one I&#x27;ve just started playing with is [cheat](https://github.com/cheat/c
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-06-23
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/reset-ssh-key-passphrase/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Reset SSH key passphrase
        </h2>
        <p class='mx-4 text-neutral-200'>
            I got into a pickle where I encrypted the ssh keys I use for my SSH connections on LAN, but then I couldn&#x27;t run my ansible playbook on my server! ssh-keyge
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-06-13
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/samba-on-ubuntu-22-needs-inherit-permissions-set/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Samba on Ubuntu 22 needs "inherit permissions" set
        </h2>
        <p class='mx-4 text-neutral-200'>
            see samba config on hogwarts
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-31
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/filtering-emails-with-core-utils/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Filtering emails with core utils
        </h2>
        <p class='mx-4 text-neutral-200'>
            
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-30
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/reindex-nextcloud-after-adding-data-via-cli/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Reindex Nextcloud After Adding Data via CLI
        </h2>
        <p class='mx-4 text-neutral-200'>
            My Nextcloud woes I wrote [here](&quot;nextcloud-permissions-with-zfs-and-ansible-nas&quot;) about setting
up `www-data` as the owner of any directories you wan
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-29
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/add-space-to-your-lvm-on-ubuntu/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Add space to your LVM on Ubuntu
        </h2>
        <p class='mx-4 text-neutral-200'>
            I ran out of space on the SSD in my server when doing some file transfers but only 100GB was used of a 256 GB SSD? LVM When installing Ubuntu live server the de
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-26
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/initial-proxmox-setup/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Initial Proxmox Setup
        </h2>
        <p class='mx-4 text-neutral-200'>
            `apt-get` by default wil go to the pve.enterprise repos so we need to point it to the non-enterprise ones.
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-23
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/configure-bridge-network-on-ubuntu-22-04-with-netplan/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Configure bridge network on Ubuntu 22.04 with Netplan
        </h2>
        <p class='mx-4 text-neutral-200'>
            See 02-....yaml in ansible-nas
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-22
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/netplan-change-from-focal-to-jammy/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Netplan change from Focal to Jammy
        </h2>
        <p class='mx-4 text-neutral-200'>
            I am revamping my home server and bumped myself early up to Jammy Jellyfish...
however to my peril I reused my netplan config and after hitting my server with
t
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-22
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/deleting-files-on-remote-storage-from-ubuntu-might-not-do-what-you-think/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Deleting files on remote storage from Ubuntu might not do what you think
        </h2>
        <p class='mx-4 text-neutral-200'>
            From my daily driver Ubuntu machine I often open nautilus, dolphin, etc. and delete a file here or there on my NAS... turns out Ubuntu sends thse file to `.Tras
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-19
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/remove-zfs-dataset-specific-snapshots/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Remove ZFS Dataset Specific Snapshots
        </h2>
        <p class='mx-4 text-neutral-200'>
            I started my homelab journey being super naive about ZFS and how to manage the
filesystem... that bit me in the butt when transfering a ton of files out of
fold
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-05-19
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/caps-lock-polybar/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Caps-Lock-Polybar
        </h2>
        <p class='mx-4 text-neutral-200'>
            My moonlander is great, and I just recently added CAPS LOCK back to my keymapping but I&#x27;ve moved it...
At present it is where the ESC kep usually is howeve
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-04-15
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/file-length/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            File-Length
        </h2>
        <p class='mx-4 text-neutral-200'>
            I have a specific need for counting the number of lines in a file quickly.
At work we use S3 for data storage during our Kedro pipeline development, and in the 
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-04-04
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/polybar-01/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Polybar-01
        </h2>
        <p class='mx-4 text-neutral-200'>
            [polybar](https://github.com/polybar/polybar) is an awesome and super customizable status bar for your desktop environment. I use it with i3-gaps on Ubuntu for 
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-04-01
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/starship/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Starship
        </h2>
        <p class='mx-4 text-neutral-200'>
            If you spend time in the terminal then you&#x27;ll want it to look somewhat pleasing to the eye.
I used to ssh into servers with no customization, use `vi`  to 
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-03-25
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/tree/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Tree
        </h2>
        <p class='mx-4 text-neutral-200'>
            I wanted a quick way to generate an `index.html` for a directory of html files that grows by 1 or 2 files a week.
I don&#x27;t know any html (the files are expo
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-03-06
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/stow-target/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Stow-Target
        </h2>
        <p class='mx-4 text-neutral-200'>
            Check out [stow](/stow) for a brief introduction to `stow` What if I want to stow a package somewhere else?
Boom, that&#x27;s where `-t` comes in... Maybe I don
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-03-04
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/stow/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Stow
        </h2>
        <p class='mx-4 text-neutral-200'>
            Stow is a great tool for managing dotfiles. My usage looks like cloning my dotfiles to my home directory, setting some environment variables via a script, then 
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-03-04
        </time>
    </a>
</li><li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/ubuntu-static-ip/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Ubuntu-Static-Ip
        </h2>
        <p class='mx-4 text-neutral-200'>
            Sometimes I need to manually set a static IP of a Linux machine. I generally run the latest version of Ubuntu server in my VMs at home. In Ubuntu 20 I&#x27;m ab
        </p>
        <time class='mx-4 text-neutral-600'>
            2022-03-03
        </time>
    </a>
</li>        </ul>
    </div>
</article>