<section class="post-terminal   ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Silliness and Wrecklessness</h1>
    <div class="post-header__meta">
        <time datetime="2026-06-07">
            June 07, 2026
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/family/" class="post-header__tag">
                #family
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>I talked with my oldest daughter about silliness and wrecklessness today. She
and her sister were playing too rough at bedtime and the younger slapped the
older one pretty hard. It wasn't malicious, they're 4 and 6, they were just
being silly but without respect for reality, they were tired, and have been
tired for a while (thus the bedtime) and in their silliness and tiredness their
actions became wrekless. This is what I explained to her, and she paused and said
&quot;Dad, what is wreckless?&quot; and oh man did my heart melt... I'm so proud of her
for asking that question, and feeling comfortable to do so in the middle of our
conversation made me feel good as her dad.</p>

        </section>
    </article>
</section>