#!/bin/bash
# shortcut for creating new venv environments based on the current working directory
export envname=./.venv/$(basename $PWD)
venvenvnew() {
    python3.8 -m venv $envname
    source $envname/bin/activate
    python3.8 -m pip install --upgrade pip
    pip install lolcat pdbpp pyflyby black==20.8b1 rich

}
echo $(basename $PWD) | lolcat
# source activate $(basename $PWD) || condanew
source $envname/bin/activate || venvenvnew
