# GENERAL

EVERY NEW LINE OF CODE IS A NEW LIABILITY, CODE ADDITIONS MUST BE MINIMAL AND NECESSARY.

# BACKEND RULES

### Tech Stack for backend/*
- python and temporal.io.
- API is FastAPI
- Async everything
- Use SQLite for the datastore but design for postgres migration
- During development we will blow the database away, so NO MIGRATIONS and do db operations in a script for reproducibility and future integration testing
- Included website is built with HTMX and Alpine.js, the purpose is to model features of the backend, not be a product itself

### Development

- Before making any changes, ask for review
- Changes should be no longer than 50 lines of code, if a change is larger than that we need to camp out on it for extra time.
- use `uv` for everything `uv venv` `uv pip` `uv init --script` `uv run ruff` etc.
- use environment variables for configuration often
- run `uv run ruff check --fix` after every change

### Infrastructure

- Temporal server should be configured with TEMPORAL_URL
- **TEMPORAL IS RUNNING AT ghost:7233**
- Temporal activities should be in src/activities
- Temporal workflows should be in src/workflows
- Temporal worker code should be in src/worker
- pydantic models should be built off BaseSettings to allow for environment variable configuration

# FRONTEND RULES

### Tech Stack for frontend/*

### Development

- make as many changes as you need. the 50 line limit doesn't apply to frontend changes