[project]
name = "pype-dev"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10,<=3.12"
dependencies = [
  "cryptography>=45.0.5",
  "markata>=0.9.1",
  "pandas>=2.3.0",
  "seaborn>=0.13.2",
]
