<article class='w-full'>
<section class="title">
    <h1 id="title">
        arr client config
    </h1>
</section>    <section class="body">
        <p>TIL that when setting up download clients for
radarr/sonarr/lidarr/readarr/bazarr/prowlarr that you can utilize internal DNS
and instead of hardcoding an IP address of your download client server, can use
just the CNAME record (ie. instead of 172.10.14.13 I can use
<a href="http://transmission.mydomain.com">transmission.mydomain.com</a>... notice the lact of http(s)://... adding that won't
allow the connection to work/</p>
<p>Furthermore, you can use internal DNS to lookup the domain, not the subdomain,
and expose the port, like <code>mydomain.com:7878</code> for sonarr. This was simpler to
maintain because I don't change which ports an application exposes or utilizes
hardly ever, plus I don't need to maintain CNAME records for every service!</p>

    </section>
</article>