<article class='w-full'>
<section class="post-header mb-8">
    <h1 id="title" class="text-4xl md:text-5xl font-bold text-text-heading mb-4">arr client config</h1>
    <div class="flex items-center text-sm text-text-main/80 mb-6">
        <time datetime="2022-05-28">
            May 28, 2022
        </time>
    </div>
    <div class="flex flex-wrap gap-2">
            <a href="https://pype.dev//tags/homelab/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20">
                #homelab
            </a>
            <a href="https://pype.dev//tags/tech/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20">
                #tech
            </a>
            <a href="https://pype.dev//tags/til/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20">
                #til
            </a>
    </div>
</section>    <section class="article-content prose dark:prose-invert lg:prose-xl max-w-none mx-auto mt-8">
        <p>TIL that when setting up download clients for
radarr/sonarr/lidarr/readarr/bazarr/prowlarr that you can utilize internal DNS
and instead of hardcoding an IP address of your download client server, can use
just the CNAME record (ie. instead of 172.10.14.13 I can use
<a href="http://transmission.mydomain.com">transmission.mydomain.com</a>... notice the lact of http(s)://... adding that won't
allow the connection to work/</p>
<p>Furthermore, you can use internal DNS to lookup the domain, not the subdomain,
and expose the port, like <code>mydomain.com:7878</code> for sonarr. This was simpler to
maintain because I don't change which ports an application exposes or utilizes
hardly ever, plus I don't need to maintain CNAME records for every service!</p>

    </section>
</article>