<section class="post-terminal   ">

    <article class="post-terminal__article">
<section class="post-header mb-8">
    <h1 id="title" style="font-size: 4rem; line-height: 1.1; font-weight: 800;" class="text-6xl md:text-7xl font-extrabold gradient-text mb-4 post-title-large">077 Silent Years - Herodians</h1>
    <div class="flex items-center text-sm text-text-main/80 mb-6">
        <time datetime="2022-09-04">
            September 04, 2022
        </time>
    </div>
    <div class="flex flex-wrap gap-2">
            <a href="https://pype.dev//tags/bema/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20 hover-lift">
                #bema
            </a>
    </div>
</section>        <section class="post-terminal__body prose dark:prose-invert">
            <p>Herodians show up twice in the Gospels, Josephus talks about them a bit as
well. There is a lot of hsitorical debate that surrounds the Herodians.</p>
<blockquote>
<p>Like Republicans and Democracts meant one thing in American history, but
those positions and words mean something different today - the same is true
in history, and with Herodians.</p>
</blockquote>
<p>They were believed to be the political party, however formal, to be alligned with Kind Herod.</p>
<p>We are also, presently, very hellenistic and even herodian. We are into the
luxury, we like convenience, we have entertainment/theaters. There's nothing
wrong with luxury, entertainment, plumbing, wealth, etc... The Saducees misused
Hellenism to their own detrement - they turned amoral Hellenism into a
worldview that pushed Yahweh out of the center and put human and self into the
center of the worldview</p>
<blockquote>
<p>Herodians toed the line between <em>reluctantly</em> becoming hellenistic and
corrupting their worship with hellenism</p>
</blockquote>
<div class="admonition warning">
<p class="admonition-title">Warning</p>
<p>I am (hopefully <em>reluctantly</em>) hellenistic as well...</p>
</div>
<p>Embracing hellenism is not black and white, it is amoral... To spend money on
life, enjoy entertainment, decorate our homes, etc... can we appreciate
luxuries without compromising on Yahweh worship?</p>
<p>timestamp: 21:45</p>

        </section>
    </article>
</section>