<section class="post-terminal   ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Recovering from zpool corruption when you're short a drive</h1>
    <div class="post-header__meta">
        <time datetime="2025-02-03">
            February 03, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/infrastructure/" class="post-header__tag">
                #infrastructure
            </a>
            <a href="https://pype.dev//tags/zfs/" class="post-header__tag">
                #zfs
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <ol>
<li>can only mount tank RO</li>
</ol>
<ul>
<li>so can't rename</li>
<li>also can't detach which is what I'd want</li>
</ul>
<ol start="2">
<li>Could import pool witn -N to not mount any datasets</li>
<li>detach and attach</li>
<li>resilver...</li>
</ol>

        </section>
    </article>
</section>