<article class='w-full'>
<section class="title">
    <h1 id="title">
        Adding docker daemon.json broke docker
    </h1>
</section>    <section class="body">
        <p>in /lib/systemd/system/docker.service there is an ExecStart command that got placed there when I setup Docker with Ansible - it threw the -H flag which told the daemon what hosts to setup. But I added the &quot;hosts&quot; key in my daemon.json and it broke - so removing the -H flag from the systemd unit fixed it</p>

    </section>
</article>