<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">2025-11-29 Notes</h1>
    <div class="post-header__meta">
        <time datetime="2025-11-29">
            November 29, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/daily-note/" class="post-header__tag">
                #daily-note
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>yesterday: <a class="wikilink" href="/2025-11-28-notes">2025-11-28-notes</a></p>
<ul>
<li>pype.dev mirror works without <code>just</code> in the forgejo runner
<ul>
<li>GH Pages for my blog isn't right since it's path based routing</li>
<li>Will eventually have forgejo/pype.dev -&gt; build, sanitize, push to mirror -&gt; then either cloudflare pick up from GH or cli deployment from forgejo runner</li>
</ul>
</li>
</ul>

        </section>
    </article>
</section>