<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>

<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/stable-diffusion-qr-codes-for-josh">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-17">2025-06-17</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Stable Diffusion QR Codes for Josh</h2>
                    <p class="feed-card__description">After my blunder ![20250627111955_e86d5db2.png](https://cdn.statically.io/gh/pypeaday/images.pype.dev/main/blog-media/20250627111955_e86d5db2.png) (fjords of Fi</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#tech</span>
                        <span>#digital-harbor</span>
                        <span>#qr</span>
                        <span>#stable-diffusion</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   feed-card--thoughts" data-template="thoughts">
    <a class="feed-card__link" href="/thoughts-696">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">thoughts</span>
            <time datetime="2025-06-16">2025-06-16</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // stable-diffusion</p>
                <h2 class="feed-card__title">💭 Stable Diffusion QR Code 101</h2>
                    <p class="feed-card__description">My brother asked me to generate some QR codes for his link page that I manage. It's been a long time since I've used SD</p>
                <div class="feed-card__tags">
                        <span>#stable-diffusion</span>
                        <span>#qr</span>
                        <span>#thoughts</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/athalia-s-stable-diffusion-pictures">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-06">2025-06-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // athalia</p>
                <h2 class="feed-card__title">Athalia's Stable Diffusion Pictures</h2>
                    <p class="feed-card__description">![Unicorn Riding Bike](https://dropper.wayl.one/api/file/9d74262d-3584-4b2f-a9ce-41c5ca7c0a73.png) ![Santa Claus](https://dropper.wayl.one/api/file/fb0b4f4a-a65</p>
                <div class="feed-card__tags">
                        <span>#athalia</span>
                        <span>#stable-diffusion</span>
                </div>
            </div>

        </div>

    </a>
</li>        </ul>
    </div>
</article>