<section class="post-terminal   ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Original Sin</h1>
    <div class="post-header__meta">
        <time datetime="2025-10-10">
            October 10, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/glossary/" class="post-header__tag">
                #glossary
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>The doctrine (<strong>but question still for me</strong>) basically answers this question:</p>
<p>Do we sin because we're sinners or are we sinners because we sin?</p>
<p>With the answer:</p>
<p>You inherit Adam's sinfulness, you are born condemned</p>

        </section>
    </article>
</section>