<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>

<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-1-john-4-17">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-25">2025-12-25</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - 1 John 4:17</h2>
                    <p class="feed-card__description">!!! note &quot;1 John 4:17&quot; Confidence I&#x27;ve definitely written about confidence before outside this blog, it&#x27;s a key
Christian theme. John mentio</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-luke-6-35">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-23">2025-12-23</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Luke 6:35</h2>
                    <p class="feed-card__description">!!! note &quot;Luke 6:35&quot; Love Your Enemies I was once an enemy of God, and even today still make choices that highlight
enmity in my heart towards him. It</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-mark-12-29-30">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-21">2025-12-21</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Mark 12:29-30</h2>
                    <p class="feed-card__description">!!! note &quot;Mark 12:29-30&quot; The Most Important Commandment !!! note &quot;Deuteronomy 6:4-5&quot; Jesus quotes the Shema as the most important commandmen</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-romans-15-13">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-20">2025-12-20</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Romans 15:13</h2>
                    <p class="feed-card__description">!!! note &quot;Romans 15:13&quot; The last 3 weeks of Advent are summarized right here in verse 13. Yahweh is the
God of hope, of expectation, he brings Joy thr</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-matthew-5-11-12">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-18">2025-12-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Matthew 5:11-12</h2>
                    <p class="feed-card__description">!!! note &quot;Matthew 5:11-12&quot; Context To drop some context that I&#x27;m familiar with, this is from a famous section of
Jesus&#x27; &quot;Sermon on the </p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-john-15-10-11">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-17">2025-12-17</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - John 15:10-11</h2>
                    <p class="feed-card__description">!!! note &quot;John 15:10-11&quot; This is a beautiful couple verses about love that have only made more and more
sense to me as I get older and I have become a</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-luke-2-10-11">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-16">2025-12-16</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Luke 2:10-11</h2>
                    <p class="feed-card__description">!!! note &quot;Luke 2:10-11&quot;</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-isaiah-51-3">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-15">2025-12-15</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Isaiah 51:3</h2>
                    <p class="feed-card__description">!!! note &quot;Isaiah 51:1-3&quot; Joy in the Father On the heels of yesterday, I&#x27;m still struggling with Joy, but here in Isaiah
some context aligns Joy w</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-psalm-105-43">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-14">2025-12-14</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Psalm 105:43</h2>
                    <p class="feed-card__description">!!! note &quot;Psalm 105:43&quot; Joy is a toughy right now if I&#x27;m honest... Today marks the 3rd week of Advent,
today we light the Joy candle. But honestl</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-ephesians-4-3">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-13">2025-12-13</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Ephesians 4:3</h2>
                    <p class="feed-card__description">!!! note &quot;Ephesians 4:1-6&quot; Unity and Peace Once again I say &quot;Praise God&quot; this morning for more words of Scripture that
succinctly highlight </p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-ephesians-2-14-16">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-12">2025-12-12</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Ephesians 2:14-16</h2>
                    <p class="feed-card__description">The reflection in the BP calendar for today was only verses 14-15 but they made no sense to me without some more context !!! note &quot;Ephesians 2:11-22&quot; </p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-colossians-1-19-20">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-11">2025-12-11</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Colossians 1:19-20</h2>
                    <p class="feed-card__description">!!! note &quot;Colossians 1:19-20&quot; I feel like there&#x27;s so much that could be unpacked here... &quot;all his fullness dwell him in&quot; - so besides t</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-john-16-33">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-10">2025-12-10</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - John 16:33</h2>
                    <p class="feed-card__description">!!! note &quot;John 16:33&quot; It&#x27;s interesting to read a little context around this morning&#x27;s Advent
reflection passage/verse... !!! note &quot;John</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-zechariah-9-9-10">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-09">2025-12-09</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Zechariah 9:9-10</h2>
                    <p class="feed-card__description">!!! note &quot;Zechariah 9:9-10&quot; My king is indeed coming, and has already come. He is humble and he is
victorious. Jesus can &quot;announce peace&quot; be</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-isaiah-9-6-7">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-08">2025-12-08</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Isaiah 9:6-7</h2>
                    <p class="feed-card__description">!!! note &quot;Isaiah 9:6-7&quot; To Peace There Will Be No End What a fantastic promise about what the King will do - to bring unending peace.
I wrote about pe</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-isaiah-26-3">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-07">2025-12-07</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Isaiah 26:3</h2>
                    <p class="feed-card__description">!!! note &quot;Isaiah 26:3&quot; This is reminding me of a blog post I&#x27;ve had in the queue for months
[[autism-and-steadfast-faith]] which may never see th</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-2025-love">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-07">2025-12-07</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent 2025 - Love</h2>
                    <p class="feed-card__description">Advent Address Love !!! note &quot;1 John 4:7–10 (CSB)&quot; &quot;not that we loved God, but that he loved us&quot; Can a newborn love? When a baby enters the </p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-romans-8-24-25">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-06">2025-12-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Romans 8:24-25</h2>
                    <p class="feed-card__description">!!! note &quot;Romans 8:24-25&quot; Q: What does it look like for you to actively but patiently wait for God right now? &quot;What does it look like&quot; often</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/advent-romans-8-20-21">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-05">2025-12-05</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Romans 8:20-21</h2>
                    <p class="feed-card__description">!!! note &quot;Romans 8:20-21&quot; I honestly do not spend a lot of time thinking about the specifics of god&#x27;s
fully liberated and healed world... I do ge</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-1-peter-1-3">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-04">2025-12-04</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - 1 Peter 1:3</h2>
                    <p class="feed-card__description">!!! note &quot;1 Peter 1:3&quot; Q: How does Jesus’ resurrection from death shape your hope for both the future and life today? Coming off the heals of a somewh</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-isaiah-40-31">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-03">2025-12-03</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Isaiah 40:31</h2>
                    <p class="feed-card__description">!!! note &quot;Isaiah 40:31&quot; There is a pretty significant _thing_ going on in my life right now that&#x27;s
causing me to grow a bit weary and faint. Esse</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-psalm-130-7">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-02">2025-12-02</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Psalm 130:7</h2>
                    <p class="feed-card__description">!!! note &quot;Psalm 130:7&quot; He-sed Yahweh&#x27;s `loyal love` is `חֶ֫סֶד` (he-sed)... It comes from Exodus 34 !!! note &quot;Exodus 34:6-7&quot; `abounding</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-psalm-39-7">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-01">2025-12-01</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Psalm 39:7</h2>
                    <p class="feed-card__description">!!! note &quot;Psalm 39:7&quot; Every Advent I wish I took it more seriously - each year trying to be slightly
more diligent about traditions and raising our da</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-isaiah-8-17">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-01">2025-12-01</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent - Isaiah 8:17</h2>
                    <p class="feed-card__description">!!! note &quot;Isaiah 8:17&quot; `I will await him` -&gt; this isn&#x27;t &quot;waiting&quot; like being patient... The first
&quot;wait&quot; is, but the secon</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="note">
    <a class="feed-card__link" href="/advent-2025-calendar">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">note</span>
            <time datetime="2025-12-01">2025-12-01</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // advent</p>
                <h2 class="feed-card__title">Advent 2025 Calendar</h2>
                    <p class="feed-card__description">Sunday [[advent-isaiah-8-17]] Monday [[advent-psalm-39-7]] Tuesday [[advent-psalm-130-7]] Wednesday Thursday Friday Saturday Sunday Monday Tuesday Wednesday Thu</p>
                <div class="feed-card__tags">
                        <span>#advent</span>
                        <span>#note</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/advent-2024-peace">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-12-06">2024-12-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // faith</p>
                <h2 class="feed-card__title">Advent 2024 - Peace</h2>
                    <p class="feed-card__description">Scripture Luke 2:14 (ESV): 14 “Glory to God in the highest, and on earth peace among those with whom he is pleased!” Edification There is a word we probably kno</p>
                <div class="feed-card__tags">
                        <span>#faith</span>
                        <span>#advent</span>
                </div>
            </div>

        </div>

    </a>
</li>        </ul>
    </div>
</article>