<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>

<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/homelab-journey-part-1">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-05">2025-06-05</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">homelab-journey-part-1</h2>
                    <p class="feed-card__description">Introduction I want to start writing about my homelab and this first post can be a short
introduction to how I got into homelabbing and a review of my current h</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#tech</span>
                        <span>#series-homelab</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/self-hosted-media">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-03-24">2022-03-24</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // python</p>
                <h2 class="feed-card__title">self-hosted-media</h2>
                    <p class="feed-card__description">Self-hosting 1 or several media servers is another common homelab use-case.
Getting content for your media servers is up to you, but I&#x27;ll show a few ways h</p>
                <div class="feed-card__tags">
                        <span>#python</span>
                        <span>#homelab</span>
                        <span>#tech</span>
                        <span>#series-homelab</span>
                </div>
            </div>

        </div>

    </a>
</li>        </ul>
    </div>
</article>