<section class="post-terminal post-terminal--faith  ">

    <article class="post-terminal__article">
<section class="post-header mb-8">
    <h1 id="title" style="font-size: 4rem; line-height: 1.1; font-weight: 800;" class="text-6xl md:text-7xl font-extrabold gradient-text mb-4 post-title-large">Reflection - Psalm 84:11</h1>
    <div class="flex items-center text-sm text-text-main/80 mb-6">
        <time datetime="2025-10-01">
            October 01, 2025
        </time>
    </div>
    <div class="flex flex-wrap gap-2">
            <a href="https://pype.dev//tags/reflection/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20 hover-lift">
                #reflection
            </a>
            <a href="https://pype.dev//tags/faith/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20 hover-lift">
                #faith
            </a>
    </div>
</section>        <section class="post-terminal__body prose dark:prose-invert">
            <p>Spurgeon's Morning and Evening today (actually the evening one) is for <a href="https://www.biblegateway.com/passage/?search=Psalm+84%3A11&amp;version=ESV">Psalm 84:11</a>.</p>
<div class="admonition note">
<p class="admonition-title">Psalm 84:11</p>
<p>Psalm 84:11 (LEB): 11 Because Yahweh God is a sun and a shield;  Yahweh gives grace and honor.  He does not withhold good from those who walk blamelessly.</p>
</div>
<p>What is it to me to hear and know that <strong>Yahweh gives grace and honor</strong>? I'm asking this because Spurgon's meditation this morning has a particularly striking line in it</p>
<blockquote>
<p>The little conjunction “and” in this verse is a diamond rivet binding the present with the future: grace and glory always go together.</p>
</blockquote>
<p>The translation he was using has &quot;glory&quot;, I quoted &quot;honor&quot;. The word is <code>כָּבוֹד</code>
(kabod) which generally basically means &quot;weight&quot;.</p>
<p>I got very distracted this morning unfortunately and therefore my reflection
will be cut short... I know meditating on these things opens my day up to go in
a better direction... May Yahweh give grace to me today, to live in a glorified
and honorable way... one worthy of the gospel of Christ.</p>
<div class="admonition note">
<p class="admonition-title">Philippians 1:27</p>
<p>Whatever happens, conduct yourselves in a manner worthy of the gospel of Christ. Then, whether I come and see you or only hear about you in my absence, I will know that you stand firm in the one Spirit, striving together as one for the faith of the gospel</p>
</div>

        </section>
    </article>
</section>