<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">💭 Docker Brings Compose to the AI Agent Era | Docker</h1>
    <div class="post-header__meta">
        <time datetime="2025-07-11">
            July 11, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/docker/" class="post-header__tag">
                #docker
            </a>
            <a href="https://pype.dev//tags/ai/" class="post-header__tag">
                #ai
            </a>
            <a href="https://pype.dev//tags/homelab/" class="post-header__tag">
                #homelab
            </a>
            <a href="https://pype.dev//tags/thoughts/" class="post-header__tag">
                #thoughts
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <a href="https://www.docker.com/blog/build-ai-agents-with-docker-compose/">
    <img
        src="https://shots.wayl.one/shot/?url=https://www.docker.com/blog/build-ai-agents-with-docker-compose/&height=450&width=800&scaled_width=800&scaled_height=450&selectors=""
        alt="shot of post - 💭 Docker Brings Compose to the AI Agent Era | Docker"
        height=450
        width=800
    >
</a>
<p>Here's my thought on <a href="https://www.docker.com/blog/build-ai-agents-with-docker-compose/">💭 Docker Brings Compose to the AI Agent Era | Docker</a></p>
<hr />
<p>Seems like docker is leaning harder into compose - which is great for me as a heavy compose user. I had heard about some of the LLM enablements directly through docker desktop - for example taking fuller advantage of the host's compute power without paying the penalty of the nvidia runtime or something... I can't claim to have followed it all but I heard &quot;run LLMs in docker directly for a bigger boost&quot; and I'm in.</p>
<hr />
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>This is one of <a class="wikilink" href="/my-thoughts">my-thoughts</a>. I picked this up from <a href="https://waylonwalker.com">Waylon Walker</a>(<a href="https://thoughts.waylonwalker.com">https://thoughts.waylonwalker.com</a>). It's a short note that I make about someone else's
content online.  Learn more about the process <a class="wikilink" href="/thoughts">thoughts</a></p>
</div>
<hr />
<p>['docker', 'ai', 'homelab', 'thoughts']</p>

        </section>
    </article>
</section>