<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">💭 Self-Hosting selfh.st/icons With Git-Sync</h1>
    <div class="post-header__meta">
        <time datetime="2025-01-12">
            January 12, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/self-host/" class="post-header__tag">
                #self-host
            </a>
            <a href="https://pype.dev//tags/icons/" class="post-header__tag">
                #icons
            </a>
            <a href="https://pype.dev//tags/dashboard/" class="post-header__tag">
                #dashboard
            </a>
            <a href="https://pype.dev//tags/thoughts/" class="post-header__tag">
                #thoughts
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <a href="https://selfh.st/selfhst-icons-git-sync/">
    <img
        src="https://shots.wayl.one/shot/?url=https://selfh.st/selfhst-icons-git-sync/&height=450&width=800&scaled_width=800&scaled_height=450&selectors=""
        alt="shot of post - 💭 Self-Hosting selfh.st/icons With Git-Sync"
        height=450
        width=800
    >
</a>
<p>Here's my thought on <a href="https://selfh.st/selfhst-icons-git-sync/">💭 Self-Hosting selfh.st/icons With Git-Sync</a></p>
<hr />
<p>I like a nice icon for dashboards I've put together and having a convenient way to load them up off line would be nice</p>
<hr />
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>This is one of <a class="wikilink" href="/my-thoughts">my-thoughts</a>. I picked this up from <a href="https://waylonwalker.com">Waylon Walker</a>(<a href="https://thoughts.waylonwalker.com">https://thoughts.waylonwalker.com</a>). It's a short note that I make about someone else's
content online.  Learn more about the process <a class="wikilink" href="/thoughts">thoughts</a></p>
</div>
<hr />
<p>['self-host', 'icons', 'dashboard', 'thoughts']</p>

        </section>
    </article>
</section>