<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>

<li class="feed-card card-large   feed-card--thoughts" data-template="thoughts">
    <a class="feed-card__link" href="/thoughts-745">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">thoughts</span>
            <time datetime="2025-07-11">2025-07-11</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // systemd</p>
                <h2 class="feed-card__title">💭 Tyblog | systemd has been a complete, utter, unmitigated success</h2>
                    <p class="feed-card__description">I found this post on systemd this morning, and although I've been a Linux user for around 6 years now, there's some leve</p>
                <div class="feed-card__tags">
                        <span>#systemd</span>
                        <span>#linux</span>
                        <span>#blog</span>
                        <span>#thoughts</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   feed-card--thoughts" data-template="thoughts">
    <a class="feed-card__link" href="/thoughts-735">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">thoughts</span>
            <time datetime="2025-07-06">2025-07-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // k8s</p>
                <h2 class="feed-card__title">💭 Self-Hosting A Cluster On Old Phones | Hackaday</h2>
                    <p class="feed-card__description">Came across a blog and article on using a mobile OS to self-host a cluster on old phones... I happen to keep several old</p>
                <div class="feed-card__tags">
                        <span>#k8s</span>
                        <span>#linux</span>
                        <span>#android</span>
                        <span>#homelab</span>
                        <span>#thoughts</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   feed-card--thoughts" data-template="thoughts">
    <a class="feed-card__link" href="/thoughts-670">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">thoughts</span>
            <time datetime="2025-06-07">2025-06-07</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">💭 Linux Explained: What is The Linux Kernel? - YouTube</h2>
                    <p class="feed-card__description">I'm getting sucked into the Linux is a kernel not an operating system crowd because tonight I realized I couldn't descri</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#youtube</span>
                        <span>#kernel</span>
                        <span>#thoughts</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/i-was-wrecked-by-a-weird-combo-of-and-e">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-04-23">2025-04-23</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">I was wrecked by a weird combo of >> and -e</h2>
                    <p class="feed-card__description">TL;DR If state matters then check it in the beginning or handle it on a failure... Let me explain I ran into some trouble recently _almost_ losing some encrypte</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/smb-with-zfs-on-ubuntu">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2025-02-20">2025-02-20</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // zfs</p>
                <h2 class="feed-card__title">SMB with ZFS on Ubuntu</h2>
                    <p class="feed-card__description">sudo apt-get install -y samba \\ then set sharesmb=on \\ chown the user \\ smbpasswd &lt;user&gt; -a \\ then mount with user/password from other machine</p>
                <div class="feed-card__tags">
                        <span>#zfs</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/jellyfin-container-updates-for-hwe-amd">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-12-14">2024-12-14</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // docker</p>
                <h2 class="feed-card__title">Jellyfin container updates for HWE + AMD</h2>
                    <p class="feed-card__description">I use LSIO Jelyfin container for the easy addon they provide for AMD GPUs but I couldn&#x27;t get trickplay to work with HWE... There was almost NOTHING on the </p>
                <div class="feed-card__tags">
                        <span>#docker</span>
                        <span>#linux</span>
                        <span>#homelab</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/d-and-uninterruptable-sleep">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-12-11">2024-12-11</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">D and uninterruptable sleep</h2>
                    <p class="feed-card__description">Htop I recently have been having significant home server issues, and that&#x27;s not the point of this - today I learned what `D` state is when looking at htop.</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#zfs</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/rsync-like-a-pro">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-12-11">2024-12-11</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">rsync like a pro</h2>
                    <p class="feed-card__description">I am moving a hefty amount of data to a new ZFS pool due to some corruption and I want to avoid using `zfs send/recv` for this just to make sure I don&#x27;t pr</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#terminal</span>
                        <span>#cli</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/hostnamectl-to-easily-change-hostname">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-12-06">2024-12-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">hostnamectl to easily change hostname</h2>
                    <p class="feed-card__description">hostnamectl is apparently a linux utility for easily changing your hostname in a variety of ways I learned there&#x27;s transient and static hostnames, so that&</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#terminal</span>
                        <span>#homelab</span>
                        <span>#cli</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/dns-broke-after-reboot-ubuntu-22-04">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-11-22">2024-11-22</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">DNS Broke After Reboot - Ubuntu 22.04</h2>
                    <p class="feed-card__description">I rebooted by server and DNS broke randomly. I have no idea if it was from a kernel update or what but that&#x27;s the issue with Ubuntu I guess... After much t</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/restart-kde-plasma">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-11-08">2024-11-08</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Restart KDE Plasma</h2>
                    <p class="feed-card__description">Plasma shits the bed a little too often on Fedora for me right now but I finally have a quick fix...</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#terminal</span>
                        <span>#cli</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/docker-copy-and-chown">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-09-17">2024-09-17</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Docker copy and chown</h2>
                    <p class="feed-card__description">COPY --chown=myuser:mygroup source-file target-file</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#homelab</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/docker-remote-add">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-09-17">2024-09-17</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">docker-remote-add</h2>
                    <p class="feed-card__description">Add from url?? ADD http://example.com/cars.csv /tmp/cars.csv Unpack automatically!? (.tar, .tar.gz, .tgz, .bz2, .tbz2, .txz, .zip) ADD myapp.tar.gz /opt/myapp/</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/interesting-ips-between-jellyfin-clients-and-server-depending-on-tailscale-and-server-address">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-07-12">2024-07-12</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Interesting IPs between Jellyfin clients and server depending on tailscale and server address</h2>
                    <p class="feed-card__description">When connecting from my phone to jellyfin I&#x27;m seeing some interesting patterns. Scenarios Tailscale IP of phone is listed as local network to jellyfin Wifi</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/upgrading-your-kernel-can-f-you-up-whoops">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2024-06-26">2024-06-26</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Upgrading your kernel can F you up... whoops</h2>
                    <p class="feed-card__description">https://forum.proxmox.com/threads/update-error-with-coral-tpu-drivers.136888/#post-608975 I lost TPU for frigate, this saved me ass</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/dhcp-restart-to-save-ubuntu-22-04-server-networking">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2023-12-31">2023-12-31</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">DHCP Restart to Save Ubuntu 22.04 Server Networking</h2>
                    <p class="feed-card__description">I moved a computer to a remote location for an off-site backup but when it was powered on it wouldn&#x27;t show up on any networks. A solution that got me back </p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/refresh-nextcloud-groupfolders-after-messing-around-on-the-filesystem">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2023-09-23">2023-09-23</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Refresh Nextcloud Groupfolders after messing around on the filesystem</h2>
                    <p class="feed-card__description">Exec in as www-data and run ./occ groupfolders:scan folder_id -v (the -v to see what it&#x27;s doing)</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/convert-word-doc-to-pdf-with-headless-libreoffice">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2023-03-09">2023-03-09</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Convert Word Doc to PDF with Headless Libreoffice</h2>
                    <p class="feed-card__description">I&#x27;ve been using paperless-ngx to manage all my documents, but every once in a while I&#x27;ll get a `.docx` file to deal with... Turns out Libreoffice has </p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/i3-like-keyboard-mapping-in-pop-os">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2023-01-12">2023-01-12</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">i3-Like keyboard mapping in Pop_OS</h2>
                    <p class="feed-card__description">I was introduced to tiling window managers through i3, which I use heavily on
one of my machines. I have switched to Pop_OS! at home though, which has a
tiling </p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/use-non-standard-named-ssh-keys-with-github">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2023-01-03">2023-01-03</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Use non-standard named ssh keys with github</h2>
                    <p class="feed-card__description">I was getting `(publickey denied)` when trying to push to GH using ssh. When I
tested the connection I saw that a bunch of keys in ``~/.ssh/ were being
attempte</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/reminder-about-ssh-copy-id-for-ssh-and-ansible">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-12-28">2022-12-28</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Reminder about ssh-copy-id for SSH and Ansible</h2>
                    <p class="feed-card__description">`ssh-copy-id -i my.key.pub &lt;hostname probably from tailscale&gt;` 
this makes sure I can run ansible from my desktop against VMs on my server
easily if they </p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/nextcloud-docker-upgrade-error">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-12-28">2022-12-28</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Nextcloud Docker Upgrade Error</h2>
                    <p class="feed-card__description">https://nicolasbouliane.com/blog/nextcloud-docker-upgrade-error</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/adding-docker-daemon-json-broke-docker">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-12-21">2022-12-21</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Adding docker daemon.json broke docker</h2>
                    <p class="feed-card__description">in /lib/systemd/system/docker.service there is an ExecStart command that got placed there when I setup Docker with Ansible - it threw the -H flag which told the</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#docker</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/suda-vim-for-sudo-access-to-files">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-12-21">2022-12-21</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // vim</p>
                <h2 class="feed-card__title">suda.vim for sudo access to files</h2>
                    <p class="feed-card__description">I regularly need to edit system config files - take /etc/sanoid/sanoid.conf as
an example... I&#x27;ll want to play with something but if I don&#x27;t start Neo</p>
                <div class="feed-card__tags">
                        <span>#vim</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/pipe-to-a-pager-to-preserve-console-output-in-ssh-session">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-12-18">2022-12-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Pipe to a pager to preserve console output in SSH session</h2>
                    <p class="feed-card__description">I&#x27;m playing with my ansible playbook in a remote tmux session, and I&#x27;m no wiz
so I don&#x27;t know the ins and outs, but I can&#x27;t scroll up to get</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/description-of-my-proposed-vimconf-2022-talk">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-11-12">2022-11-12</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Description of my proposed vimconf 2022 talk</h2>
                    <p class="feed-card__description">Switching to Vim opened a whole new world to me for interacting with a computer
and for getting things done. Before I adopted Vim I used GUIs for everything
bec</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#vim</span>
                        <span>#tech</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/make-a-series-of-directories-fast">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-11-10">2022-11-10</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Make a series of directories fast!</h2>
                    <p class="feed-card__description">mkdir s{1..10} will make directories s1, s2, ... s10 in one command!</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/dont-forget-to-load-xmp">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-10-09">2022-10-09</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Don't forget to load XMP!</h2>
                    <p class="feed-card__description">Bought some DDR4-3600 speed RAM but only seeing 2666? Load up the BIOS, find DRAM config or something similar, and make sure to load the XMP profile to get that</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/my-passmark-scores">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-10-08">2022-10-08</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">My PassMark Scores</h2>
                    <p class="feed-card__description">!!! note &quot;Babyblue v2&quot; !!! note &quot;Venus &quot; !!! note &quot;Hogwarts&quot; !!! note &quot;Server 2 ... Change the name&quot; !!! note &quot;Serv</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/suddenly-ssh-requires-a-password">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-10-07">2022-10-07</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Suddenly SSH requires a password</h2>
                    <p class="feed-card__description">ssh -v -i ~/.ssh/id_rsa nic@hogwarts THen we can look at print outs cat /var/log/auth.log  also showed me that I had too wide permissions on files in ~/.ssh -&g</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/check-your-bios-version-on-ubuntu">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-10-02">2022-10-02</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Check Your BIOS Version On Ubuntu</h2>
                    <p class="feed-card__description">sudo dmidecode -s bios-version</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/append-string-to-list-of-files-with-xarg">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-09-21">2022-09-21</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Append string to list of files with xarg</h2>
                    <p class="feed-card__description">❯ find . -name &quot;requirements.in&quot; -print0 | xargs -0 sh -c &#x27;for arg in &quot;$@&quot;; do echo &quot;awscli&quot; &gt;&gt;&quot;$arg&quot;; done&#</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#bash</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/check-your-smart-status-with-smartctl">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-08-29">2022-08-29</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // cli</p>
                <h2 class="feed-card__title">Check your SMART status with smartctl</h2>
                    <p class="feed-card__description">https://www.simplified.guide/linux/disk-health-check Install For ubuntu/debian based distros (which is what I primarly use presently) `sudo apt update -y &amp;&</p>
                <div class="feed-card__tags">
                        <span>#cli</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/mounting-exfat-usb-in-linux">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-07-31">2022-07-31</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Mounting exFAT USB in Linux</h2>
                    <p class="feed-card__description">Steps `sudo fdisk -l` then look for the device and partition get the Type column mount Example</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#homelab</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/setup-kvm-to-boot-from-local-pxe-server">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-07-06">2022-07-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Setup KVM to boot from local PXE server</h2>
                    <p class="feed-card__description">Assuming you have a PXE server running you only need small edits to the virt-manager config</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/kvm-network-interface-via-nat-ubuntu-20">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-06-25">2022-06-25</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">kvm-network-interface-via-nat-ubuntu-20</h2>
                    <p class="feed-card__description">I have started using VMs more and more in my development workflow and it&#x27;s
impossible to work in a VM without an internet connection for me most of the
tim</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/cheat-on-your-man">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-06-23">2022-06-23</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">cheat on your man</h2>
                    <p class="feed-card__description">`man` can be a pain to read... and there&#x27;s lots of alternatives out there and one I&#x27;ve just started playing with is [cheat](https://github.com/cheat/c</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/reset-ssh-key-passphrase">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-06-13">2022-06-13</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Reset SSH key passphrase</h2>
                    <p class="feed-card__description">I got into a pickle where I encrypted the ssh keys I use for my SSH connections on LAN, but then I couldn&#x27;t run my ansible playbook on my server! ssh-keyge</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#cli</span>
                        <span>#linux</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/samba-on-ubuntu-22-needs-inherit-permissions-set">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-05-31">2022-05-31</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Samba on Ubuntu 22 needs "inherit permissions" set</h2>
                    <p class="feed-card__description">see samba config on hogwarts</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/filtering-emails-with-core-utils">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-05-30">2022-05-30</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Filtering emails with core utils</h2>
                    <p class="feed-card__description">—</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/reindex-nextcloud-after-adding-data-via-cli">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-05-29">2022-05-29</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Reindex Nextcloud After Adding Data via CLI</h2>
                    <p class="feed-card__description">My Nextcloud woes I wrote [here](&quot;nextcloud-permissions-with-zfs-and-ansible-nas&quot;) about setting
up `www-data` as the owner of any directories you wan</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/add-space-to-your-lvm-on-ubuntu">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-05-26">2022-05-26</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Add space to your LVM on Ubuntu</h2>
                    <p class="feed-card__description">I ran out of space on the SSD in my server when doing some file transfers but only 100GB was used of a 256 GB SSD? LVM When installing Ubuntu live server the de</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/configure-bridge-network-on-ubuntu-22-04-with-netplan">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-05-22">2022-05-22</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Configure bridge network on Ubuntu 22.04 with Netplan</h2>
                    <p class="feed-card__description">See 02-....yaml in ansible-nas</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/netplan-change-from-focal-to-jammy">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-05-22">2022-05-22</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // homelab</p>
                <h2 class="feed-card__title">Netplan change from Focal to Jammy</h2>
                    <p class="feed-card__description">I am revamping my home server and bumped myself early up to Jammy Jellyfish...
however to my peril I reused my netplan config and after hitting my server with
t</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/remove-zfs-dataset-specific-snapshots">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-05-19">2022-05-19</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Remove ZFS Dataset Specific Snapshots</h2>
                    <p class="feed-card__description">I started my homelab journey being super naive about ZFS and how to manage the
filesystem... that bit me in the butt when transfering a ton of files out of
fold</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#zfs</span>
                        <span>#cli</span>
                        <span>#bash</span>
                        <span>#homelab</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/deleting-files-on-remote-storage-from-ubuntu-might-not-do-what-you-think">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-05-19">2022-05-19</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Deleting files on remote storage from Ubuntu might not do what you think</h2>
                    <p class="feed-card__description">From my daily driver Ubuntu machine I often open nautilus, dolphin, etc. and delete a file here or there on my NAS... turns out Ubuntu sends thse file to `.Tras</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#cli</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/file-length">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-04-04">2022-04-04</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">File-Length</h2>
                    <p class="feed-card__description">I have a specific need for counting the number of lines in a file quickly.
At work we use S3 for data storage during our Kedro pipeline development, and in the </p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/polybar-01">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-04-01">2022-04-01</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Polybar-01</h2>
                    <p class="feed-card__description">[polybar](https://github.com/polybar/polybar) is an awesome and super customizable status bar for your desktop environment. I use it with i3-gaps on Ubuntu for </p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#tech</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/starship">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-03-25">2022-03-25</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Starship</h2>
                    <p class="feed-card__description">If you spend time in the terminal then you&#x27;ll want it to look somewhat pleasing to the eye.
I used to ssh into servers with no customization, use `vi`  to </p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#tech</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/tree">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-03-06">2022-03-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Tree</h2>
                    <p class="feed-card__description">I wanted a quick way to generate an `index.html` for a directory of html files that grows by 1 or 2 files a week.
I don&#x27;t know any html (the files are expo</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/stow-target">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-03-04">2022-03-04</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bash</p>
                <h2 class="feed-card__title">Stow-Target</h2>
                    <p class="feed-card__description">Check out [stow](/stow) for a brief introduction to `stow` What if I want to stow a package somewhere else?
Boom, that&#x27;s where `-t` comes in... Maybe I don</p>
                <div class="feed-card__tags">
                        <span>#bash</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/stow">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-03-04">2022-03-04</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bash</p>
                <h2 class="feed-card__title">Stow</h2>
                    <p class="feed-card__description">Stow is a great tool for managing dotfiles. My usage looks like cloning my dotfiles to my home directory, setting some environment variables via a script, then </p>
                <div class="feed-card__tags">
                        <span>#bash</span>
                        <span>#linux</span>
                        <span>#tech</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large  feed-card--til " data-template="til">
    <a class="feed-card__link" href="/ubuntu-static-ip">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">til</span>
            <time datetime="2022-03-03">2022-03-03</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // linux</p>
                <h2 class="feed-card__title">Ubuntu-Static-Ip</h2>
                    <p class="feed-card__description">Sometimes I need to manually set a static IP of a Linux machine. I generally run the latest version of Ubuntu server in my VMs at home. In Ubuntu 20 I&#x27;m ab</p>
                <div class="feed-card__tags">
                        <span>#linux</span>
                        <span>#til</span>
                </div>
            </div>

        </div>

    </a>
</li>        </ul>
    </div>
</article>