<section class="post-terminal  post-terminal--til ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Agents can miss obvious things too</h1>
    <div class="post-header__meta">
        <time datetime="2026-04-03">
            April 03, 2026
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/agents/" class="post-header__tag">
                #agents
            </a>
            <a href="https://pype.dev//tags/til/" class="post-header__tag">
                #til
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>I am working with MiniMax M.2 to vibe up some webapp ideas for <a class="wikilink" href="/Nexus">Nexus</a> and I
just spent many minutes not having the app render correctly because the agent
mounted the wrong directory into the docker compose stack. I noticed it about 5
seconds after opening the file, but wasted nearly a half hour thinking it was a
docker issue in distrobox...</p>
<div class="admonition danger">
<p>Clankers are still just clankers man</p>
</div>

        </section>
    </article>
</section>