<section class="post-terminal  post-terminal--til ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Backups are dope</h1>
    <div class="post-header__meta">
        <time datetime="2025-05-27">
            May 27, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
            <a href="https://pype.dev//tags/homelab/" class="post-header__tag">
                #homelab
            </a>
            <a href="https://pype.dev//tags/zfs/" class="post-header__tag">
                #zfs
            </a>
            <a href="https://pype.dev//tags/til/" class="post-header__tag">
                #til
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>I accidently chown'd -R an app directory and it totally screwed up the database
folder. Luckily I zfs replicate my docker volumes to another drive even on the
same host, so a quick [rsync] from /harbor/encrypted/docker/manyfold to
/tank/encrypted/docker/manyfold got me back up and running since I hadn't
replicated the messed up permission set yet</p>
<p>Q: How to link to my rsync like a pro post?</p>
<p>A: Wikilinks <code>[[rsync-like-a-pro]]</code> <a class="wikilink" href="/rsync-like-a-pro">rsync-like-a-pro</a></p>

        </section>
    </article>
</section>