<section class="post-terminal   ">
    <figure class="post-terminal__media">
        <div class="post-terminal__media-frame">
            <img src="https://cdn.statically.io/gh/pypeaday/images.pype.dev/main/blog-media/20250810191909_cc0dc2d7.png" alt="AudioMass cover image">
        </div>
    </figure>

    <article class="post-terminal__article">
<section class="post-header mb-8">
    <h1 id="title" style="font-size: 4rem; line-height: 1.1; font-weight: 800;" class="text-6xl md:text-7xl font-extrabold gradient-text mb-4 post-title-large">AudioMass</h1>
    <div class="flex items-center text-sm text-text-main/80 mb-6">
        <time datetime="2025-08-10">
            August 10, 2025
        </time>
    </div>
    <div class="flex flex-wrap gap-2">
            <a href="https://pype.dev//tags/sermons/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20 hover-lift">
                #sermons
            </a>
            <a href="https://pype.dev//tags/tech/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20 hover-lift">
                #tech
            </a>
    </div>
</section>        <section class="post-terminal__body prose dark:prose-invert">
            <p>I edit our church's recorded sermons every week and upload them to our website.
It's very simple, and the editing is just cutting the audio file down on the
front and back sides of extra stuff picked up while the mic was on. I've been
doing this for a while using Davinci Resolve which is WAY too heavy for
trimming audio files but I'm loosely familiar with it and so I just have been
dealing with the pain of long start up, overly complicated organization, etc.
Well it's been buggy on Aurora for me and a few weeks ago I got sick of it
finally and tried KdenLive.... Now this is a great tool, but again I'm just
cutting up some audio files, why is this hard?</p>
<p>Double finally I just did some research and after a few minutes found
<a href="https://github.com/pkalogiros/AudioMass">audiomass</a> which I immediately forked
and dockerized cause it's so simple and beautiful!</p>
<p>Now I have a little webapp to trim these files from - almost such that the tech
lead on Sunday could maybe do this instead of me!</p>
<p><img src="https://cdn.statically.io/gh/pypeaday/images.pype.dev/main/blog-media/20250810191909_cc0dc2d7.png" alt="20250810191909_cc0dc2d7.png" /></p>
<p>You can check it out on <a href="https://github.com/pypeaday/audiomass">my github</a></p>
<ul>
<li>clone</li>
<li><code>docker compose up -d</code></li>
<li><code>http://localhost:5056</code> to begin trimming audio locally!</li>
</ul>

        </section>
    </article>
</section>