<section class="post-terminal   ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Feeds</h1>
    <div class="post-header__meta">
        <time datetime="2025-06-13">
            June 13, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/slash/" class="post-header__tag">
                #slash
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>I write about things I find interesting, here's a list of my feeds:</p>
<p>Q: Jinja here over my markata feeds?</p>

        </section>
    </article>
</section>