<section class="post-terminal   ">
    <figure class="post-terminal__media">
        <div class="post-terminal__media-frame">
            <img src="https://cdn.statically.io/gh/pypeaday/images.pype.dev/main/blog-media/20260205115645_e3bb9482.png" alt="AI cover image">
        </div>
    </figure>

    <article class="post-terminal__article">
<section class="post-header mb-8">
    <h1 id="title" style="font-size: 4rem; line-height: 1.1; font-weight: 800;" class="text-6xl md:text-7xl font-extrabold gradient-text mb-4 post-title-large">AI</h1>
    <div class="flex items-center text-sm text-text-main/80 mb-6">
        <time datetime="2026-02-05">
            February 05, 2026
        </time>
    </div>
    <div class="flex flex-wrap gap-2">
            <a href="https://pype.dev//tags/slash/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20 hover-lift">
                #slash
            </a>
    </div>
</section>        <section class="post-terminal__body prose dark:prose-invert">
            <p>How do I use AI for my site?</p>
<ol>
<li>Cover images - I generate these with Stable Diffusion running on my desktop, the prompts sometimes comes from basically dropping my blog post into Ollama/Open-WebUI and getting a prompt back to make an image that fits the vibe</li>
<li>Breaking up raw blog posts by heading - AI never writes my posts for me, but sometimes with longer ramblings I will have an agent just break up by new lines with headings to help me group the thoughts together</li>
<li>Site asthetic - my site is built with <a href="https://markata.dev">markata</a> but the templates (jinja, html, css) I have given almost fully over to AI because web-design isn't something I'm deeply interested in, but I like to write and the agents have helped me make my blog look more personal (I recognize some people might take offense to this - we can happily fight about it over a drink sometime :p)</li>
</ol>
<p>My main thing to say is that I don't ever intend to put AI words in front of another human without full transparency like in <a class="wikilink" href="/the-importance-of-nostr-according-to-chatgpt">the-importance-of-nostr-according-to-chatgpt</a>, but I am using AI to craft my blog and help me organize myself</p>

        </section>
    </article>
</section>