<article class='w-full overflow-x-hidden'>
<section class="post-header mb-8">
    <h1 id="title" class="text-4xl md:text-5xl font-bold text-text-heading mb-4">_Sidebar.Example</h1>
    <div class="flex items-center text-sm text-text-main/80 mb-6">
        <time datetime="2022-03-09">
            March 09, 2022
        </time>
    </div>
</section>    <section class="article-content prose dark:prose-invert lg:prose-xl mx-auto mt-8">
        <h5>{{group}}s</h5>
<ul>
<li>[{{name}}]({{group}}-{{name | slugify}}.html)
{% endfor %}</li>
</ul>

    </section>
</article>