<article class='w-full'>
<section class="title">
    <h1 id="title">
        You can embed gifs?!
    </h1>
</section>    <section class="body">
        <p>I learned you can embed gifs and stuch in things other than GH personal pages!</p>
<p>So here I'll keep ones I like and might use later</p>
<iframe src="https://giphy.com/embed/jXBwoFfPsCCoE" width="25px" height="25px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/tech-rainbow-jXBwoFfPsCCoE">via GIPHY</a></p>
    </section>
</article>