<article class='w-full'>
<section class="title">
    <h1 id="title">
        New lines in Markdown tables
    </h1>
</section>    <section class="body">
        <p>I wanted to break down some long lines in a Markdown table cell to make it look
nicer on my blog but \n didn't do anything for me... turns out <br/> is the
magic sauce</p>
<table>
<thead>
<tr>
<th><em>Column 1</em></th>
<th><em>Column 2</em></th>
</tr>
</thead>
<tbody>
<tr>
<td>Key</td>
<td>Doggo ipsum many pats. Borkdrive borking doggo doing me a frighten doggorino, noodle horse heckin. what a nice floof. Pupper borking doggo you are doing me a frighten, much ruin diet.</td>
</tr>
<tr>
<td>---</td>
<td>---</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th><em>Column 1</em></th>
<th><em>Column 2</em></th>
</tr>
</thead>
<tbody>
<tr>
<td>Key</td>
<td>Doggo ipsum many pats. <br/> Borkdrive borking doggo doing me a frighten doggorino, noodle horse heckin. <br/> what a nice floof. <br/> Pupper borking doggo you are doing me a frighten, much ruin diet.</td>
</tr>
<tr>
<td>---</td>
<td>---</td>
</tr>
</tbody>
</table>

    </section>
</article>