<section class="post-terminal  post-terminal--til ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Deployments are not StatefulSets</h1>
    <div class="post-header__meta">
        <time datetime="2025-01-15">
            January 15, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/infrastructure/" class="post-header__tag">
                #infrastructure
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
            <a href="https://pype.dev//tags/k8s/" class="post-header__tag">
                #k8s
            </a>
            <a href="https://pype.dev//tags/til/" class="post-header__tag">
                #til
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>I was debugging some ArgoCD stuff earlier today and I love using k9s to explore
my k8s resources.</p>
<p>The TLDR is that I put some bad env vars in the <code>global</code> values for my ArgoCD
pods, this caused the webUI to hang. An easy way to push things through is to
open k9s, view the Deployments, and edit the env vars there so the pods can be
in the right state to restart and pickup the changes (you've obviously fixed
the values file already right?)</p>
<p>Well the Notification Controller was the pod hanging, and I couldn't find it in
the Deployments view! This blew my mind... until I realized that it was a
Stateful Set.</p>
<p>So, this is not a comparison of the 2 - this is just a note to say that all I
had to do was find the StatefulSets in k9s and do the same workflow for editing
what I needed to edit to get the pods into workable state while working on the
values file...</p>

        </section>
    </article>
</section>