<article class='w-full'>
<section class="title">
    <h1 id="title">
        Paperless-NGX filtering on IDs instead of values
    </h1>
</section>    <section class="body">
        <p>To filter for saved views from the admin console you have to use the <code>id</code> of
the tag you are using to filter on...</p>
<p>Ex: filtering for tags &quot;Inbox&quot; doesn't work, but for tag 18 does (the id fo the
Inbox tag). I can find that ID by clicking on the tag and looking at the url
bar</p>

    </section>
</article>