<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">💭 Build backend | uv</h1>
    <div class="post-header__meta">
        <time datetime="2025-07-04">
            July 04, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/uv/" class="post-header__tag">
                #uv
            </a>
            <a href="https://pype.dev//tags/python/" class="post-header__tag">
                #python
            </a>
            <a href="https://pype.dev//tags/dev/" class="post-header__tag">
                #dev
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
            <a href="https://pype.dev//tags/thoughts/" class="post-header__tag">
                #thoughts
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <a href="https://docs.astral.sh/uv/concepts/build-backend/">
    <img
        src="https://shots.wayl.one/shot/?url=https://docs.astral.sh/uv/concepts/build-backend/&height=450&width=800&scaled_width=800&scaled_height=450&selectors=""
        alt="shot of post - 💭 Build backend | uv"
        height=450
        width=800
    >
</a>
<p>Here's my thought on <a href="https://docs.astral.sh/uv/concepts/build-backend/">💭 Build backend | uv</a></p>
<hr />
<p>uv build backend ready for production! Dang... I need to visit my hatch builds, I love hatch's simplicity specifically with versioning...  Not sure if it's worth actually switching to uv for my builds or not, but it is dang cool to see astral take on the python space with unbelievable improvements</p>
<hr />
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>This is one of <a class="wikilink" href="/my-thoughts">my-thoughts</a>. I picked this up from <a href="https://waylonwalker.com">Waylon Walker</a>(<a href="https://thoughts.waylonwalker.com">https://thoughts.waylonwalker.com</a>). It's a short note that I make about someone else's
content online.  Learn more about the process <a class="wikilink" href="/thoughts">thoughts</a></p>
</div>
<hr />
<p>['uv', 'python', 'dev', 'tech', 'thoughts']</p>

        </section>
    </article>
</section>