<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>

<li class="feed-card card-full   " data-template="blog-post">
    <a class="feed-card__link" href="/uv-run-pep-723-is-a-match-made-in-heaven">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-12-08">2025-12-08</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">series-if-you-want-it-make-it-so</p>
                <h2 class="feed-card__title">UV Run + PEP 723 Is A Match Made In Heaven</h2>
                    <p class="feed-card__description">This post will be short but hopefully be a dense few paragraphs about how using
`uv run foo.py` along with [PEP 723](https://peps.python.org/pep-0723/) is
life-</p>
                <div class="feed-card__tags">
                        <span>#series-if-you-want-it-make-it-so</span>
                        <span>#tech</span>
                </div>
            </div>

                <figure class="feed-card__media">
                    <img src="https://cdn.statically.io/gh/pypeaday/images.pype.dev/main/blog-media/20251208112719_1ea01b09.png" alt="UV Run + PEP 723 Is A Match Made In Heaven cover" loading="lazy">
                </figure>
        </div>

    </a>
</li>
<li class="feed-card card-full   " data-template="blog-post">
    <a class="feed-card__link" href="/if-you-want-something-make-it-so-song-style">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-14">2025-06-14</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">homelab</p>
                <h2 class="feed-card__title">If You Want Something Make It So - Song Style</h2>
                    <p class="feed-card__description">In grad school a professor of mine, Mark Hunacek, said one of the most profound
things I&#x27;ve ever heard to the tune &quot;if you want it, then make it so&qu</p>
                <div class="feed-card__tags">
                        <span>#homelab</span>
                        <span>#tech</span>
                        <span>#series-if-you-want-it-make-it-so</span>
                        <span>#music</span>
                </div>
            </div>

                <figure class="feed-card__media">
                    <img src="https://cdn.statically.io/gh/pypeaday/images.pype.dev/main/blog-media/20250614140337_9d1ad6ac.png" alt="If You Want Something Make It So - Song Style cover" loading="lazy">
                </figure>
        </div>

    </a>
</li>        </ul>
    </div>
</article>