<article class='w-full'>
<section class="title">
    <h1 id="title">
        Double check your CIDR blocks!
    </h1>
</section>    <section class="body">
        <p>I use tailscale at home and generally love it. One thing I use it for is
whitelisting - so I have some apps publically available and my homelab ones
have DNS with SSL certs by LE but I whitelist to only my private IPs so that I
can use https at home basically. However I have had a few issues
with a couple apps, and I kind of chaulked it up to &quot;network protocol this&quot;
&quot;need to figure out that header that&quot; but ultimately I was being lazy and the
issues weren't catastrophic... it was things like:</p>
<ol>
<li>couldn't get to my NVR by DNS, so I'd have to use tailscale_ip:port</li>
<li>couldn't login with my user in jellyfin cause I lock me down to LAN only
since I dont' use a password</li>
<li>gotify wouldn't connect using DNS</li>
</ol>
<p>These things aren't huge but they are annoying and today I decided to figure it
out.</p>
<p>I'm not an expert yet but I think the main problem was the CIDR block I was
using in my traefik config.</p>
<p>This'll shock some of you but <code>10.64.0.0/10</code> and <code>100.64.0.0/10</code> are not the
same blocks!</p>
<div class="admonition warning">
<p class="admonition-title">Check your CIDRs</p>
<p>It's always DNS, and even when it's not, it's still probably networking</p>
</div>

    </section>
</article>