<section class="post-terminal post-terminal--faith  post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">💭 N.T. Wright on The Unseen Realm & Heiser - YouTube</h1>
    <div class="post-header__meta">
        <time datetime="2025-06-12">
            June 12, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/faith/" class="post-header__tag">
                #faith
            </a>
            <a href="https://pype.dev//tags/heiser/" class="post-header__tag">
                #heiser
            </a>
            <a href="https://pype.dev//tags/nt-wright/" class="post-header__tag">
                #nt-wright
            </a>
            <a href="https://pype.dev//tags/divine-council/" class="post-header__tag">
                #divine-council
            </a>
            <a href="https://pype.dev//tags/thoughts/" class="post-header__tag">
                #thoughts
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <a href="https://www.youtube.com/watch?v=StRxlVhjH_0">
    <img
        src="https://shots.wayl.one/shot/?url=https://www.youtube.com/watch?v=StRxlVhjH_0&height=450&width=800&scaled_width=800&scaled_height=450&selectors=""
        alt="shot of post - 💭 N.T. Wright on The Unseen Realm & Heiser - YouTube"
        height=450
        width=800
    >
</a>
<p>Here's my thought on <a href="https://www.youtube.com/watch?v=StRxlVhjH_0">💭 N.T. Wright on The Unseen Realm &amp; Heiser - YouTube</a></p>
<hr />
<p>I don't write enough short thoughts on theology stuff, I'm usually trying to have some longer thought to unpack or to summarize a longer teaching. I came across this video this morning after a Bible Project video - I love Michael Heiser, he's given me such a strong framework for understanding the Bible, and now to see an example of NT Wright talking about him and some of those ideas is really exciting. Wright nails it around 9 minutes in - that the primary point of the supremacy of Jesus, and his victory over the ruling powers from Deut 32, is a great short truth that more Christians needs to learn... Jesus doesn't magically your life better, he invites you to submit to his authority rather than the authority of the present ruling forces, and yes this does make your life better but only if you are truly submissive to him can you understand &quot;better&quot; appropriately.</p>
<hr />
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>This is one of <a class="wikilink" href="/my-thoughts">my-thoughts</a>. I picked this up from <a href="https://waylonwalker.com">Waylon Walker</a>(<a href="https://thoughts.waylonwalker.com">https://thoughts.waylonwalker.com</a>). It's a short note that I make about someone else's
content online.  Learn more about the process <a class="wikilink" href="/thoughts">thoughts</a></p>
</div>
<hr />
<p>['faith', 'heiser', 'nt-wright', 'divine-council', 'thoughts']</p>

        </section>
    </article>
</section>