<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">2025-07-08 Notes</h1>
    <div class="post-header__meta">
        <time datetime="2025-07-08">
            July 08, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/daily-note/" class="post-header__tag">
                #daily-note
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>Today I consolidated homelab-social-media-pipelines into homelab-temporal,
which is the app repo.</p>
<p>I am tracking this stuff in a <a href="https://kanboard.paynepride.com/?controller=TaskViewController&amp;action=show&amp;task_id=235&amp;project_id=8">kanboard
ticket</a>
and also <a class="wikilink" href="/thoughts-to-nostr">thoughts-to-nostr</a></p>
<p>I also touched on my <a class="wikilink" href="/homelab-monitoring-agent">homelab-monitoring-agent</a> bys witching to atomic-agents, but windsurf is struggling with it</p>
<p>Worked on backup of my desktop - in dotfiles I have nas-back which will be a
compose stack I can move to homelab-compose that uses restic to backup files
via stp/ssh - seems easy enough to setup
<a class="wikilink" href="/using-restic-to-backup-my-home-directory">using-restic-to-backup-my-home-directory</a></p>
<p>I learned some stuff about python from chat - <a href="https://chatgpt.com/c/686d2a05-5b54-800f-8b84-1638c1b96840">https://chatgpt.com/c/686d2a05-5b54-800f-8b84-1638c1b96840</a></p>

        </section>
    </article>
</section>