<article class='w-full'>
<section class="title">
    <h1 id="title">
        Deleting files on remote storage from Ubuntu might not do what you think
    </h1>
</section>    <section class="body">
        <p>From my daily driver Ubuntu machine I often open nautilus, dolphin, etc. and delete a file here or there on my NAS... turns out Ubuntu sends thse file to <code>.Trash-100</code> ON THE NAS so I'm effectively just moving that file and not freeing up any space...</p>

    </section>
</article>