<section class="post-terminal   ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">paynepride dot com outage on vacation</h1>
    <div class="post-header__meta">
        <time datetime="2026-03-16">
            March 16, 2026
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/ofc/" class="post-header__tag">
                #ofc
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>The day after I leave for vacation I start getting SSL errors on every homelab
service I host for myself and others. The culprit was my Cloudflare API token
expiring. It was easy to find the 403s in the logs for Traefik (thank goodness
for Tailscale getting me into the lab from afar). The solution was to rotate the
API token, replace the value in Traefik's .env file, and hit it with the &quot;just
deploy&quot; button. Now I don't know why this expired - the key looks like it has
no expiration to me - and I'm too tired from the beach to dig in further.
Until next time, I expect this error to come back March 16 2027 I suppose.</p>

        </section>
    </article>
</section>