<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>

<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/chili-notes">
        <header class="feed-card__header">
            <span class="feed-card__status feed-card__status--draft" aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-10-04">2025-10-04</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // cooking</p>
                <h2 class="feed-card__title">Chili Notes</h2>
                    <p class="feed-card__description">I could&#x27;ve sworn I had a chili list going but alas... 2025-10-04 2 lbs ground beef
1 big can of pinto beans
3 small cans of black beans
3 cans diced tomato</p>
                <div class="feed-card__tags">
                        <span>#cooking</span>
                        <span>#tech</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/pulled-pork-notes">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-26">2025-06-26</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // cooking</p>
                <h2 class="feed-card__title">Pulled Pork Notes</h2>
                    <p class="feed-card__description">June 26 2025 I smoked 2 pork shoulders Heavy application of Jack Daniels default pork rub + Meat Church&#x27;s the Holy Gospel Hot Honey Ham + Perfect Pork (fes</p>
                <div class="feed-card__tags">
                        <span>#cooking</span>
                        <span>#traegar</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large   " data-template="blog-post">
    <a class="feed-card__link" href="/queso-notes">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-05-31">2025-05-31</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // queso</p>
                <h2 class="feed-card__title">Queso Notes</h2>
                    <p class="feed-card__description">It occured to me that this is my blog... I can write about whatever the heck I want! May 2025 Made 2 quesos very similar - they consisted of: 1.5 lbs ground bee</p>
                <div class="feed-card__tags">
                        <span>#queso</span>
                        <span>#cooking</span>
                        <span>#smoking</span>
                </div>
            </div>

        </div>

    </a>
</li>        </ul>
    </div>
</article>