<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>
<li class='my-6 list-none'>
    <a class='w-full text-white no-underline rounded bg-neutral-800 shadow-lgc shadow-neutral-900 hover:bg-neutral-700'
 href="/queso-notes/">
        <h2 class='mx-4 mt-1 text-3xl font-bold'>

            Queso Notes
        </h2>
        <p class='mx-4 text-neutral-200'>
            It occured to me that this is my blog... I can write about whatever the heck I want! May 2025 Made 2 quesos very similar - they consisted of: 1.5 lbs ground bee
        </p>
        <time class='mx-4 text-neutral-600'>
            2025-05-31
        </time>
    </a>
</li>        </ul>
    </div>
</article>