<section class="post-terminal  post-terminal--til ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">See git history about one file</h1>
    <div class="post-header__meta">
        <time datetime="2022-05-19">
            May 19, 2022
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/cli/" class="post-header__tag">
                #cli
            </a>
            <a href="https://pype.dev//tags/vim/" class="post-header__tag">
                #vim
            </a>
            <a href="https://pype.dev//tags/git/" class="post-header__tag">
                #git
            </a>
            <a href="https://pype.dev//tags/til/" class="post-header__tag">
                #til
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>In vim <code>G clog %</code> does a <code>git clog {current file}</code>. You get every commit that the target file is apart of (so there might be info in those commits unrelated)</p>

        </section>
    </article>
</section>