<section class="post-terminal  post-terminal--til ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Limit zfs list to avoid docker vomit</h1>
    <div class="post-header__meta">
        <time datetime="2022-10-20">
            October 20, 2022
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/zfs/" class="post-header__tag">
                #zfs
            </a>
            <a href="https://pype.dev//tags/cli/" class="post-header__tag">
                #cli
            </a>
            <a href="https://pype.dev//tags/tech/" class="post-header__tag">
                #tech
            </a>
            <a href="https://pype.dev//tags/til/" class="post-header__tag">
                #til
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>zfs list has a flag -r, but if you use zfs driver for docker then you'll get
flooded with every docker volume in the world. zfs list -r -d N will limit the
dept of the print out, so zfs list -r -d 2 gives me tank, tank/encrypted,
tank/encrypted/docker -&gt; but then I don't see all the continer volumes</p>

        </section>
    </article>
</section>