<article class='w-full'>
<section class="title">
    <h1 id="title">
        Limit zfs list to avoid docker vomit
    </h1>
</section>    <section class="body">
        <p>zfs list has a flag -r, but if you use zfs driver for docker then you'll get
flooded with every docker volume in the world. zfs list -r -d N will limit the
dept of the print out, so zfs list -r -d 2 gives me tank, tank/encrypted,
tank/encrypted/docker -&gt; but then I don't see all the continer volumes</p>

    </section>
</article>