<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">💭 audiobookshelf</h1>
    <div class="post-header__meta">
        <time datetime="2024-12-29">
            December 29, 2024
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/homelab/" class="post-header__tag">
                #homelab
            </a>
            <a href="https://pype.dev//tags/thoughts/" class="post-header__tag">
                #thoughts
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <a href="https://www.audiobookshelf.org/">
    <img
        src="https://shots.wayl.one/shot/?url=https://www.audiobookshelf.org/&height=450&width=800&scaled_width=800&scaled_height=450&selectors=""
        alt="shot of post - 💭 audiobookshelf"
        height=450
        width=800
    >
</a>
<p>Here's my thought on <a href="https://www.audiobookshelf.org/">💭 audiobookshelf</a></p>
<hr />
<p>Audiobookshelf looks like a solid competitor for booksonic. I've liked the simple subsonic api driven nature of booksonic but my wife would like some more appropriate and easy-to-use organization... booksonic is not a great &quot;library&quot;... I'm looking forward to putting this into my homelab soon</p>
<hr />
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>This is one of <a class="wikilink" href="/my-thoughts">my-thoughts</a>. I picked this up from <a href="https://waylonwalker.com">Waylon Walker</a>(<a href="https://thoughts.waylonwalker.com">https://thoughts.waylonwalker.com</a>). It's a short note that I make about someone else's
content online.  Learn more about the process <a class="wikilink" href="/thoughts">thoughts</a></p>
</div>
<hr />
<p>['homelab', 'thoughts']</p>

        </section>
    </article>
</section>