<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">2025-12-03 Notes</h1>
    <div class="post-header__meta">
        <time datetime="2025-12-03">
            December 03, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/daily-note/" class="post-header__tag">
                #daily-note
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>yesterday: <a class="wikilink" href="/2025-12-01-notes">2025-12-01-notes</a></p>
<ul>
<li><a class="wikilink" href="/advent-isaiah-40-31">advent-isaiah-40-31</a></li>
</ul>

        </section>
    </article>
</section>