{% extends "content_base.html" %}
{% block content %}
<section class="post-terminal">
    <article class="post-terminal__article">
        <header class="post-header">
            <h1 class="post-header__title">404</h1>
            <div class="post-header__meta">Page not found — try a search:</div>
        </header>
        <section class="post-terminal__body">
            {% with populate_search_input=True %}
                {% include "didyoumean_partial.html" %}
            {% endwith %}
        </section>
    </article>
</section>
{% endblock %}
