{% if post.title or markata.config.title %}
<title>{{ post.title or markata.config.title }}</title>
{% endif %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% if post.description or markata.config.description %}
<meta name="description" content="{{ post.description or markata.config.description }}" />
{% endif %} {% if markata.config.icon.name %}
<link href="/{{ markata.config.icon.name }}" rel="icon" type="image/png" />
{% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/post.css" />
<link rel="stylesheet" href="/app.css" />
<script src="/theme.js"></script>

<!-- Meta tags from original file -->
<meta property="og:title" content="Pype.dev | Nic Payne" />
<meta name="twitter:title" content="Pype.dev | Nic Payne" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" name="og:image" content="https://cdn.statically.io/gh/pypeaday/pype.dev/main/pype.dev/content/media/og-02.png" />
<meta name="twitter:image" name="twitter:image" content="https://cdn.statically.io/gh/pypeaday/pype.dev/main/pype.dev/content/media/og-02.png" />
<meta property="og:url" content="https://pype.dev" />
<meta name="twitter:creator" content="@pypeaday">
<meta name="twitter:site" content="@pypeaday">

{% if 'markata.plugins.service_worker' in markata.config.hooks %}
<script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
        navigator.serviceWorker.addEventListener("controllerchange", () => {
            console.log("new worker");
            window.location.reload();
        });
    }
</script>
{% endif %}

{% include "head.html" %}
