{% extends "base.html" %}
{% block body %}
<div class='flex flex-row min-h-screen bg-primary-dark text-text-main'>
    {% if post.sidebar %}
    <div
        class='hidden overflow-y-scroll sticky top-0 left-0 px-8 mr-auto max-w-2xl min-h-screen max-h-screen border-r-2 border-slate-700 xl:block contianer shadow-xlc shadow-neutral-950 bg-neutral-800'>
        {% include "sidebar.html" %}
    </div>
    {% endif %}
    <div class='flex-grow px-8 min-h-screen bg-primary-light'>
        <div class="mx-auto max-w-screen-xl">
            {% include "nav.html" %}
            {% block content %} {% endblock %}
        </div>
    </div>

</div>
{% block footer %} {% endblock %}
{% endblock %}
