<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<section class="post-header mb-8">
    <h1 id="title" style="font-size: 4rem; line-height: 1.1; font-weight: 800;" class="text-6xl md:text-7xl font-extrabold gradient-text mb-4 post-title-large">2026-02-05 Notes</h1>
    <div class="flex items-center text-sm text-text-main/80 mb-6">
        <time datetime="2026-02-05">
            February 05, 2026
        </time>
    </div>
    <div class="flex flex-wrap gap-2">
            <a href="https://pype.dev//tags/daily-note/" class="inline-block bg-primary-light text-accent-cool text-xs font-medium px-3 py-1 rounded-full hover:bg-primary-light/80 transition-colors border border-accent-cool/20 hover-lift">
                #daily-note
            </a>
    </div>
</section>        <section class="post-terminal__body prose dark:prose-invert">
            <p>yesterday: <a class="wikilink" href="/2026-02-03-notes">2026-02-03-notes</a></p>
<ul>
<li>
<p>I'm continuing to think about <a class="wikilink" href="/nexus">nexus</a></p>
<ul>
<li>it's for me, not thinking about other people collaborating on issues</li>
<li>it has many purposes now, or could have many depending on how I decide to use it</li>
</ul>
</li>
<li>
<p>With AI continuing to improve, I don't think there's going to be room for Notifiq to really take off as any kind of paid-for service, so as work might slow down from starting my new job I'll probably revisit it some, rip out the SaaSy parts (stripe, etc.) and put it on github... maybe not github... I'm not sure - I think it's cool but I don't necessarily want to feed training data with my ideas for free, ya know?</p>
</li>
<li>
<p>added <a class="wikilink" href="/ai">ai</a> slash page to mention some of my AI usage for the blog</p>
</li>
</ul>

        </section>
    </article>
</section>