<section class="post-terminal post-terminal--faith  ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">FWBG - Genesis - 4.3</h1>
    <div class="post-header__meta">
        <time datetime="2026-09-30">
            September 30, 2026
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/sin/" class="post-header__tag">
                #sin
            </a>
            <a href="https://pype.dev//tags/faith/" class="post-header__tag">
                #faith
            </a>
            <a href="https://pype.dev//tags/family-worship-bible-guide/" class="post-header__tag">
                #family-worship-bible-guide
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>beware the growth of sin... harboring it leads to worse consequences for us and others. Cain's initial sin is left ambiguous but his response to his sin being called out by the Lord shows the trajectory of his life</p>

        </section>
    </article>
</section>