<article class='w-full'>
<section class="post-header mb-8">
    <h1 id="title" class="text-4xl md:text-5xl font-bold text-text-heading mb-4">_Markdown_Footer</h1>
    <div class="flex items-center text-sm text-text-main/80 mb-6">
        <time datetime="2022-03-09">
            March 09, 2022
        </time>
    </div>
</section>    <section class="article-content prose dark:prose-invert lg:prose-xl max-w-none mx-auto mt-8">
        <!-- Content Injected to every content markdown footer -->
    </section>
</article>