<article>
    <header class='sticky top-0 pt-4 bg-neutral-800'>
        <h1 class='p-0 m-0'></h1>
    </header>
    <div>
        <ul id='feed' class='px-0 mx-0 list-none'>

<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/what-are-the-rewards-in-heaven">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-20">2025-06-20</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">What Are The Rewards In Heaven?</h2>
                    <p class="feed-card__description">Intro I came across an article on the Bible Project on what it means to &quot;store up
treasures in Heaven&quot; and it brought some clarity to the meaning of t</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflecting-on-bp-article-on-james-faith-and-works">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-06-18">2025-06-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Reflecting on BP Article on James - Faith and Works</h2>
                    <p class="feed-card__description">Intro This started as one of [[my-thoughts]] and got long enough to warrant putting right in the blog Faith and works is a common point of conversation for Chri</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  feed-card--thoughts" data-template="thoughts">
    <a class="feed-card__link" href="/thoughts-687">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">thoughts</span>
            <time datetime="2025-06-12">2025-06-12</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">{'username': 'Nic', 'full_name': 'Nicholas Payne', 'email': 'thoughts.confusion898@aleeas.com', 'disabled': False} // wealth</p>
                <h2 class="feed-card__title">💭 The Meaning of “Mammon” in the Bible | Matthew 6:24</h2>
                    <p class="feed-card__description">I spend a fair amount of time thinking about the future, planning and saving, making sure to the best of my ability and</p>
                <div class="feed-card__tags">
                        <span>#wealth</span>
                        <span>#faith</span>
                        <span>#bible-project</span>
                        <span>#thoughts</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/the-design-of-genesis-1-11">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2025-01-18">2025-01-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">The Design of Genesis 1-11 pt 1</h2>
                    <p class="feed-card__description">Genesis 1 There is a cyclical pattern of Genesis 1-11. Introduction 1:1 may be a summary heading rather than the first &quot;verse&quot;. Chaos The narrative be</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#design-of-genesis-1-11</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/the-flood-story-quilt-analogy">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-12-14">2024-12-14</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">The Flood Story - Quilt Analogy</h2>
                    <p class="feed-card__description">The Flood Story in the Hebrew Bible I&#x27;m slowly making my way through some Bible Project classes online because Tim
Mackie is a fantastic teacher and BP has</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#flood-story</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/the-flood-story-types-and-baptism">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-12-14">2024-12-14</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">The Flood Story - Types and Baptism</h2>
                    <p class="feed-card__description">The Flood Story and Jesus Jesus brings up the Flood story from Genesis just one time (in the recorded teachings we have). First to set the scene, Jesus and his </p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#flood-story</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/how-to-survive-the-flood">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-12-04">2024-12-04</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">How To Survive The Flood</h2>
                    <p class="feed-card__description">There a lot of flood stories throughout the history of the world, and the Bible
is no different in this regard. God warns Noah of a de-creation event, whereby
h</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/the-two-houses">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-11-27">2024-11-27</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">The Two Houses</h2>
                    <p class="feed-card__description">The Two Houses Context Reflection From the visual commentary Tim calls out a few things: `the rock` is supposed to first call us back to earlier in the sermon w</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/bp-the-golden-rule">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-11-06">2024-11-06</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">BP - The Golden Rule</h2>
                    <p class="feed-card__description">Matthew 7:12 What do I desire that people &quot;do to [me]&quot;? Help if I need it - I want to live in a world where humans are helpful Listen to me and unders</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-wisdom-in-relationships-2">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-10-14">2024-10-14</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Reflection - Wisdom in Relationships 2</h2>
                    <p class="feed-card__description">Passage Reflection James builds on this with `if any of you lacks wisdom then ask for wisdom it
will be given to you`. James is arming us with some specifics fr</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/reflection-wisdom-in-relationships">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-10-12">2024-10-12</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Reflection - Wisdom in Relationships</h2>
                    <p class="feed-card__description">This morning I finally felt some motivation for a short Bible Project video.
The app is great (💯 would recommend) and gives me daily reminders that are
unobtrus</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                        <span>#reflection</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/on-earth-as-it-is-in-heaven">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2024-01-02">2024-01-02</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">On Earth as It Is in Heaven</h2>
                    <p class="feed-card__description">On Earth as It Is in Heaven [Video](https://bibleproject.com/explore/video/on-earth-as-it-is-in-heaven/) Sermon on the Mount 3 chapters filled with phrases that</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/chaos-dragon">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2023-12-20">2023-12-20</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Chaos Dragon</h2>
                    <p class="feed-card__description">Dragons are metaphorical images in the Bible Goliath -&gt; armor descriptions
Leviathan Dragon slayers can be enticed to become dragons themselves Jesus is the </p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/hebrew-bible-full-class">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-11-05">2022-11-05</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Hebrew Bible Full Class</h2>
                    <p class="feed-card__description">[Class link](https://bibleproject.com/classroom-alpha/education-videos/session-1-what-earth-hebrew-bible/)
[Classroom notes (Must be on home network)](http://pa</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/faithful">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-10-21">2022-10-21</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Faithful</h2>
                    <p class="feed-card__description">[Link](https://bibleproject.com/bible-studies/faithful/) Notes !!! Exodusds 34:6 Faithfulness - Emet (can be translated &#x27;Truth&#x27;)
Related to &quot;Amen</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/sabbath">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-10-13">2022-10-13</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Sabbath</h2>
                    <p class="feed-card__description">[Link to study](https://bibleproject.com/bible-studies/sabbath/) Creation Brougt to completion on the seventh day in Genesis 1. It is the only day that
does not</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/chara-joy">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-10-07">2022-10-07</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Chara-Joy</h2>
                    <p class="feed-card__description">[link](https://bibleprojectz.com/bible-studies/chara-joy/) Chara / Joy There are several words for similar feelings - example like `joy` has several synonyms. S</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/abraham-and-melchizedek">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-09-23">2022-09-23</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Abraham and Melchizedek</h2>
                    <p class="feed-card__description">[link to study](https://bibleproject.com/bible-studies/abraham-and-melchizedek/) Video Priests God creates Eden in which he places humans to be his royal image </p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/tree-of-life">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-09-21">2022-09-21</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Tree of Life</h2>
                    <p class="feed-card__description">Video Eden Biblical story begins in a garden, which is presented as a type of Temple. The
top (center) is the Tree of Life, which represents God&#x27;s life and</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>
<li class="feed-card card-large feed-card--faith  " data-template="blog-post">
    <a class="feed-card__link" href="/shalom-and-peace">
        <header class="feed-card__header">
            <span class="feed-card__status " aria-hidden="true"></span>
            <span class="feed-card__prompt">blog-post</span>
            <time datetime="2022-09-18">2022-09-18</time>
        </header>

        <div class="feed-card__body">
            <div class="feed-card__main">
                <p class="feed-card__eyebrow">nic // bible-project</p>
                <h2 class="feed-card__title">Shalom and Peace</h2>
                    <p class="feed-card__description">[study link](https://bibleproject.com/bible-studies/shalom-peace/) Peace !!! note &quot;&quot; In Hebrew the word is `Shalom` (Greek: Eirene). Basic biblical me</p>
                <div class="feed-card__tags">
                        <span>#bible-project</span>
                        <span>#faith</span>
                </div>
            </div>

        </div>

    </a>
</li>        </ul>
    </div>
</article>