<section class="post-terminal   ">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">Cronicle</h1>
    <div class="post-header__meta">
        <time datetime="2025-06-13">
            June 13, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/projects/" class="post-header__tag">
                #projects
            </a>
            <a href="https://pype.dev//tags/cronicle/" class="post-header__tag">
                #cronicle
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <p>I use <a href="https://healthchecks.io">hcio</a> to monitor a few of my backup scripts and when LLMs hit the scene I got interested to try to build my own. I have a pretty good understanding of systems, and I enjoy thinking through them, but I'm not a great front-end designer - AI has helped a bit in that regard.</p>
<p>Cronicle isn't live anywhere yet, and it's undergone a few revisions already. I'm not sure if I'll continue with it, but I'm having fun thinking through it.</p>

        </section>
    </article>
</section>