<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">💭 Self-Hosting A Cluster On Old Phones | Hackaday</h1>
    <div class="post-header__meta">
        <time datetime="2025-07-06">
            July 06, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/k8s/" class="post-header__tag">
                #k8s
            </a>
            <a href="https://pype.dev//tags/linux/" class="post-header__tag">
                #linux
            </a>
            <a href="https://pype.dev//tags/android/" class="post-header__tag">
                #android
            </a>
            <a href="https://pype.dev//tags/homelab/" class="post-header__tag">
                #homelab
            </a>
            <a href="https://pype.dev//tags/thoughts/" class="post-header__tag">
                #thoughts
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <a href="https://hackaday.com/2025/04/09/self-hosting-a-cluster-on-old-phones/?ref=dailydev">
    <img
        src="https://shots.wayl.one/shot/?url=https://hackaday.com/2025/04/09/self-hosting-a-cluster-on-old-phones/?ref=dailydev&height=450&width=800&scaled_width=800&scaled_height=450&selectors=""
        alt="shot of post - 💭 Self-Hosting A Cluster On Old Phones | Hackaday"
        height=450
        width=800
    >
</a>
<p>Here's my thought on <a href="https://hackaday.com/2025/04/09/self-hosting-a-cluster-on-old-phones/?ref=dailydev">💭 Self-Hosting A Cluster On Old Phones | Hackaday</a></p>
<hr />
<p>Came across a blog and article on using a mobile OS to self-host a cluster on old phones... I happen to keep several old android phones lying around and although I'm not presently super interested in figuring out an android/arm based homelab, I am excited for the next coming years when I'm sure it'll only get easier, phones will only be more powerful, and perhaps we'll be running full blown CV pipeline in k8s clusters running on Pixel devices!</p>
<hr />
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>This is one of <a class="wikilink" href="/my-thoughts">my-thoughts</a>. I picked this up from <a href="https://waylonwalker.com">Waylon Walker</a>(<a href="https://thoughts.waylonwalker.com">https://thoughts.waylonwalker.com</a>). It's a short note that I make about someone else's
content online.  Learn more about the process <a class="wikilink" href="/thoughts">thoughts</a></p>
</div>
<hr />
<p>['k8s', 'linux', 'android', 'homelab', 'thoughts']</p>

        </section>
    </article>
</section>