<section class="post-terminal   post-terminal--thoughts">

    <article class="post-terminal__article">
<header class="post-header">
    <h1 id="title" class="post-header__title">💭 OpenAI’s Windsurf deal is off — and Windsurf’s CEO is going to...</h1>
    <div class="post-header__meta">
        <time datetime="2025-07-12">
            July 12, 2025
        </time>
    </div>
    <div class="post-header__tags">
            <a href="https://pype.dev//tags/windsurf/" class="post-header__tag">
                #windsurf
            </a>
            <a href="https://pype.dev//tags/ai/" class="post-header__tag">
                #ai
            </a>
            <a href="https://pype.dev//tags/thoughts/" class="post-header__tag">
                #thoughts
            </a>
    </div>
</header>        <section class="post-terminal__body prose dark:prose-invert">
            <a href="https://www.theverge.com/openai/705999/google-windsurf-ceo-openai">
    <img
        src="https://shots.wayl.one/shot/?url=https://www.theverge.com/openai/705999/google-windsurf-ceo-openai&height=450&width=800&scaled_width=800&scaled_height=450&selectors=""
        alt="shot of post - 💭 OpenAI’s Windsurf deal is off — and Windsurf’s CEO is going to..."
        height=450
        width=800
    >
</a>
<p>Here's my thought on <a href="https://www.theverge.com/openai/705999/google-windsurf-ceo-openai">💭 OpenAI’s Windsurf deal is off — and Windsurf’s CEO is going to...</a></p>
<hr />
<p>Welp I'm not upset the OpenAI deal fell through (I mean probably not great for those at Codeium, but I don't want these big tech firms to keep buying out the competition... So even though I'm not upset about it - I can't say going to Google is my favorite alternative... I'm a windsurf user at home but if the Google deal goes through I may drop windsurf entirely and stick to roo...</p>
<p>Look at me care about who owns my editor when I'll just root myself deeper into vs**** #smh</p>
<hr />
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>This is one of <a class="wikilink" href="/my-thoughts">my-thoughts</a>. I picked this up from <a href="https://waylonwalker.com">Waylon Walker</a>(<a href="https://thoughts.waylonwalker.com">https://thoughts.waylonwalker.com</a>). It's a short note that I make about someone else's
content online.  Learn more about the process <a class="wikilink" href="/thoughts">thoughts</a></p>
</div>
<hr />
<p>['windsurf', 'ai', 'thoughts']</p>

        </section>
    </article>
</section>